.content { zoom: 1; }

.content::before, .content::after { content: ''; display: table; }

.content::after { clear: both; }

.hide { display: none !important; visibility: hidden !important; pointer-events: none !important; }

.content { padding: 20px; position: relative; }

img.pull-left { margin-right: 12px; }

img.pull-right { margin-left: 12px; }

hr { border-top: 2px solid #18374b; margin: 30px auto; }

hr.yellow { border-top: 2px solid #d3b262; }

hr.small { width: 20%; }

ul.no-bullets { list-style-type: none; padding-left: 0; }

.serif { font-family: "Alegreya", serif; }

.sans-serif { font-family: "proxima-nova", sans-serif; }

.underline { text-decoration: underline; }

.bg-blue { background-color: #18374b; }

.bg-brand-light { background-color: #24516b; }

.bg-yellow { background-color: #d3b262; }

.bg-yellow .button.inline:hover { color: #0056b3; border-bottom: 2px solid #0056b3; }

.border-black { border-color: #000000 !important; }

.bg-pattern { background-image: url("/assets/img/backgrounds/bg-pattern.png"); }

.bg-image { display: block; height: 0; background-repeat: no-repeat; background-size: cover; background-position: center center; }

.bg-image.aspect-5x7 { padding-top: 120%; }

.bg-image.aspect-1x1 { padding-top: 100%; }

.bg-image.aspect-4x3 { padding-top: 75%; }

.bg-image.aspect-16x9 { padding-top: 56.25%; }

.bg-image.aspect-2x1 { padding-top: 50%; }

.bg-image.aspect-3x1 { padding-top: 33%; }

.pinterest-share { border-bottom: 0; padding: 5px 7px; background-color: #18374b; position: absolute; bottom: 0; right: 0; }

.pinterest-share i { color: #ffffff; }

.intro { margin: 30px 0; }

.intro .lead { font-size: 23px; line-height: 39px; }

.intro p { font-size: 18px; line-height: 30px; }

.container-large { max-width: 1440px; padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto; }

@media (max-width: 767px) { .w-50 { width: 100% !important; } }

@media (min-width: 768px) { .intro .lead { font-size: 27px; }
  .intro p { font-size: 20px; line-height: 34px; } }

@font-face { font-family: 'bittercube'; src: url("/fonts/bittercube.eot"); src: url("/fonts/bittercube.eot#iefix") format("embedded-opentype"), url("/fonts/bittercube.ttf") format("truetype"), url("/fonts/bittercube.woff") format("woff"), url("/fonts/bittercube.svg#bittercube") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"], [class*=" icon-"] { font-family: 'bittercube' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-search::before { content: "\e902"; }

.icon-pinterest::before { content: "\e900"; }

.icon-cart::before { content: "\e901"; }

.icon-facebook::before { content: "\ea90"; }

.icon-instagram::before { content: "\ea92"; }

.icon-twitter::before { content: "\ea96"; }

.animated { animation-duration: 1s; animation-fill-mode: both; }

@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

.fadeIn { animation-name: fadeIn; }

@keyframes cardSlideIn { from { opacity: 0;
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to { opacity: 1;
    transform: translate3d(0, 0, 0); } }

.card:nth-child(1), .home-product:nth-child(1) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 0.1s; }

.card:nth-child(2), .home-product:nth-child(2) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 0.2s; }

.card:nth-child(3), .home-product:nth-child(3) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 0.3s; }

.card:nth-child(4), .home-product:nth-child(4) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 0.4s; }

.card:nth-child(5), .home-product:nth-child(5) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 0.5s; }

.card:nth-child(6), .home-product:nth-child(6) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 0.6s; }

.card:nth-child(7), .home-product:nth-child(7) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 0.7s; }

.card:nth-child(8), .home-product:nth-child(8) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 0.8s; }

.card:nth-child(9), .home-product:nth-child(9) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 0.9s; }

.card:nth-child(10), .home-product:nth-child(10) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 1s; }

.card:nth-child(11), .home-product:nth-child(11) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 1.1s; }

.card:nth-child(12), .home-product:nth-child(12) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 1.2s; }

.card:nth-child(13), .home-product:nth-child(13) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 1.3s; }

.card:nth-child(14), .home-product:nth-child(14) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 1.4s; }

.card:nth-child(15), .home-product:nth-child(15) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 1.5s; }

.card:nth-child(16), .home-product:nth-child(16) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 1.6s; }

.card:nth-child(17), .home-product:nth-child(17) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 1.7s; }

.card:nth-child(18), .home-product:nth-child(18) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 1.8s; }

.card:nth-child(19), .home-product:nth-child(19) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 1.9s; }

.card:nth-child(20), .home-product:nth-child(20) { animation-name: cardSlideIn; animation-duration: 0.8s; animation-fill-mode: both; animation-delay: 2s; }

body { color: #18374b; font-family: "Alegreya", serif; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }

section { clear: both; overflow: hidden; padding: 20px 0; position: relative; }

section:focus { outline: none; }

a { color: #18374b; }

a:hover, a:focus { outline: none; text-decoration: none; }

@media (min-width: 768px) { section { padding: 50px 0; } }

h1 { font-size: 36px; }

h2 { font-size: 28px; }

h3 { font-size: 24px; }

h4 { font-size: 18px; }

h5 { font-size: 16px; }

h6 { font-size: 14px; }

h1, h2 { margin: 1.5rem 0 1rem; }

h3, h4, h5 { font-family: "proxima-nova", sans-serif; letter-spacing: 3px; margin: 1rem 0; text-transform: uppercase; }

@media (min-width: 768px) { h1 { font-size: 53px; }
  h2 { font-size: 28px; }
  h3 { font-size: 24px; }
  h4 { font-size: 20px; }
  h5 { font-size: 18px; }
  h6 { font-size: 16px; } }

#page-header { transition: all 0.5s ease-in-out; background-color: #18374b; border-bottom: 2px solid #d3b262; -webkit-transform: translateZ(0); }

#page-header .navbar-nav { margin-top: 20px; }

#page-header .navbar-nav.animated { animation-delay: 1s; animation-duration: 1s; }

#page-header .navbar-nav li a { border-bottom: 0; color: #ffffff; padding-left: 1rem; padding-right: 1rem; font-size: 14px; }

#page-header .socialnav { position: absolute; right: 30px; top: 5px; }

#page-header #mainnav { justify-content: flex-end; }

#page-header #mainnav .nav .nav-item a { letter-spacing: 3px; }

#page-header .navbar-brand { padding: 0; width: 55px; }

#page-header .navbar-brand.animated { animation-delay: .5s; animation-duration: 1s; }

#page-header .navbar-toggler { width: 40px; height: 40px; padding: 10px; }

#page-header .navbar-toggler.open .close-one { opacity: 0; }

#page-header .navbar-toggler.open .close-two { transform: rotate(45deg); margin-top: 0; }

#page-header .navbar-toggler.open .close-three { transform: rotate(-45deg); margin-top: 0; }

#page-header .navbar-toggler .bar { transition: all 0.5s ease-in-out; height: 1px; width: 20px; background: #ffffff; border-radius: 0; display: block; margin-top: 6px; }

#page-header .navbar-toggler .bar.close-one { margin-top: 0; }

@media (max-width: 767px) { #page-header #mainnav { padding: 0; background-color: #d3b262; }
  #page-header .navbar { padding: 0; }
  #page-header .navbar-nav li { padding: 0 20px; }
  #page-header .navbar-nav li a { color: #18374b; padding: 10px 0; border-bottom: 1px solid #ffffff; }
  #page-header .navbar-brand { margin-left: 20px; }
  #page-header .navbar-toggler { margin-right: 20px; }
  #page-header .socialnav { position: relative; right: auto; top: auto; padding: 30px 20px; }
  #page-header .socialnav a { color: #18374b; border-bottom: 0; }
  #page-header .socialnav a.cart-link { border-right: 1px solid #18374b; }
  #page-footer .button { display: block; width: 100%; } }

@media (max-width: 991px) { #page-header .container { width: 100%; max-width: 100%; padding: 0; } }

@media (min-width: 768px) { #page-header.home-header { background-color: transparent; border-bottom: 0; }
  #page-header.home-header #mainnav { justify-content: center; }
  #page-header.home-header .navbar-nav { margin-top: 0; }
  #page-header.home-header .navbar-brand, #page-header.home-header .socialnav { opacity: 0; } }

@media (min-width: 992px) { #page-header .navbar-nav li a { font-size: 16px; } }

#page-footer { color: #ffffff; padding: 100px 0 50px; background-color: #18374b; background: url("/assets/img/backgrounds/bg-footer.png"); background-repeat: repeat; }

#page-footer .nav { margin: 2rem 0 1rem; }

#page-footer a { color: #ffffff; }

#page-footer a.nav-link { padding: .1rem 0; font-size: 14px; }

#page-footer h3 { margin-top: 0; }

#page-footer .contact-details h4 { font-family: "proxima-nova", sans-serif; font-size: .9rem; margin-bottom: 0; text-transform: uppercase; }

#page-footer .contact-details a { display: block; font-family: "Alegreya", serif; margin-bottom: 1.5rem; text-transform: none; }

#page-content { padding-top: 55px; }

@media (min-width: 768px) { #page-content { padding-top: 77px; } }

blockquote { color: #18374b; display: block; font-size: 23px; line-height: 1.2; padding-left: 30px; padding-right: 30px; position: relative; z-index: 1; }

blockquote em { z-index: 9; }

blockquote span { display: block; font-family: "proxima-nova", sans-serif; font-size: 14px; letter-spacing: 2px; margin: 20px 0 0; text-transform: uppercase; }

blockquote a { color: #18374b; cursor: pointer; text-decoration: none; }

blockquote a:hover { color: #222222; }

blockquote::before { color: #18374b; content: '\201C'; display: block; font-family: "proxima-nova", sans-serif; font-size: 100px; left: -20px; position: absolute; top: -30px; z-index: -1; }

blockquote::after { color: #18374b; content: '\201D'; display: block; font-family: "proxima-nova", sans-serif; font-size: 100px; position: absolute; right: -10px; top: calc(100% - 75px); z-index: -1; }

.hero { align-items: center; background-position: center center; background-repeat: no-repeat; background-size: cover; display: flex; height: 350px; justify-content: center; position: relative; }

.hero::before { background: rgba(0, 0, 0, 0); content: ''; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1; }

.hero.bazaarhero::before { background: none; content: ''; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1; }

.hero .hero-caption { text-align: center; width: 100%; padding: 20px; z-index: 5; }

.hero .hero-caption.animated { animation-delay: 1.5s; animation-duration: 1s; }

.hero .hero-caption img { width: 80%; max-width: 350px; }

.hero h1, .hero h2, .hero h3, .hero h4, .hero h5, .hero h6, .hero p { color: #ffffff; margin-bottom: 0; }

.hero p { font-family: "proxima-nova", sans-serif; letter-spacing: 2px; text-transform: uppercase; }

@media (min-width: 768px) { .hero { height: 600px; }
  .hero .hero-caption { width: 45%; max-width: 650px; }
  .hero .hero-caption img { width: 100%; max-width: 100%; } }

.media { background: #ffffff; }

@media (max-width: 767px) { .media { flex-wrap: wrap; } }

.button { transition: all 0.5s ease-in-out; background-color: transparent; border: 1px solid #18374b; color: #18374b; display: inline-block; font-family: "proxima-nova", sans-serif; letter-spacing: 2px; margin: 1rem 0; padding: .5rem 1rem; text-align: center; text-transform: uppercase; border-radius: 0; }

.button:hover { background-color: #18374b; color: #ffffff; }

.button:focus { outline: none; }

.button.inline { display: inline-block; padding: 3px 0; border: 0; border-bottom: 2px solid #18374b; color: #18374b; font-family: "proxima-nova", sans-serif; letter-spacing: 2px; text-transform: uppercase; }

.button.inline:hover, .button.inline:focus { background-color: transparent; color: #d3b262; border-bottom: 2px solid #d3b262; }

.button.button-block { display: block; width: 100%; }

.button.button-yellow { background-color: #d3b262; border-color: #d3b262; }

.button.button-yellow:hover { background-color: transparent; border: 1px solid #d3b262; }

.button.button-bordered { border: 2px solid #d3b262; color: #ffffff; }

.button.button-blue { background-color: #18374b; color: #ffffff; }

.button.button-blue:hover { background-color: transparent; color: #18374b; }

.card { border: 0; border-radius: 0; position: relative; }

.card .card-img-top { border-radius: 0; }

.card .card-img-wrapper { background-color: #ffffff; background-position: center center; background-repeat: no-repeat; background-size: cover; height: 250px; width: 100%; position: relative; }

.card .card-body { padding: 20px 0; }

.card .hover-overlay { border: 1px solid #d3b262; position: relative; padding: 8px; }

.card .hover-overlay:hover .overlay-text { opacity: 1; visibility: visible; }

.card .hover-overlay .overlay-text { transition: all 0.5s ease-in-out; align-items: center; background-color: rgba(24, 55, 75, 0.6); color: #d3b262; display: flex; font-family: "proxima-nova", sans-serif; height: 100%; width: 100%; left: 0; opacity: 0; padding: 10px; position: absolute; text-align: center; text-transform: uppercase; top: 0; visibility: hidden; }

.card .card-footer { background-color: transparent; border: 0; padding: 0; }

.card-grid { align-items: flex-start; justify-content: space-between; display: flex; flex-wrap: wrap; }

.card-grid .card { width: 100%; }

.card-grid .card a { font-family: "Alegreya", serif; border-bottom: 0; line-height: 1.4; }

@media (min-width: 576px) { .card-grid .card { width: 48%; } }

@media (min-width: 768px) { .card-grid .card { width: 23%; } }

.socialnav a { font-size: 14px; padding: 0 4px; color: #ffffff; }

.socialnav a.cart-link { border-right: 1px solid #ffffff; padding-right: 10px; margin-right: 7px; }

.socialnav a i { transition: all 0.3s ease-in-out; }

.socialnav a:hover i { color: #d3b262; }

.tabnav { display: block; margin-bottom: 30px; }

.tabnav li a { border-bottom: 0; padding-bottom: 15px; position: relative; }

.tabnav li a.active::after { content: ''; position: absolute; overflow: hidden; display: inline-block; font-size: 12px; width: 15px; height: 15px; left: 0; top: 12px; margin-left: -8px; border-top: 1px solid #18374b; border-left: 1px solid #18374b; transform: rotate(135deg); }

.tab-content { background-color: #ffffff; border: 2px solid #18374b; padding: 50px; }

.tab-content h5 { margin-bottom: 5px; }

@media (min-width: 768px) { .tabnav { display: flex; justify-content: space-around; margin-bottom: 0; }
  .tabnav li a { padding-bottom: 25px; }
  .tabnav li a.active::after { left: 50%; transform: rotate(45deg); top: auto; bottom: -8px; } }

.carousel-indicators { bottom: -20px; }

.carousel-indicators li { background-color: #a2c2cc; height: 10px; margin-left: 10px; margin-right: 10px; transform: rotate(45deg); width: 10px; }

.carousel-indicators li.active { background-color: #18374b; }

.carousel-fade .carousel-inner .carousel-item { transition-property: opacity; transition-duration: .75s; }

.carousel-fade .carousel-inner .carousel-item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right { opacity: 0; }

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right { opacity: 1; }

.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right { left: 0; transform: translate3d(0, 0, 0); }

@media (min-width: 768px) { .carousel-indicators { bottom: -30px; } }

.nav .nav-item a { font-family: "proxima-nova", sans-serif; letter-spacing: 2px; text-transform: uppercase; }

#instagram-feed { padding: 40px 0 0; }

@media (min-width: 768px) { #instagram-feed { padding: 80px 0 0; } }

#search-recipes { background-image: url("/assets/img/recipes/bg-ingredients.png"); background-position: center center; background-repeat: no-repeat; background-size: 80%; }

#search-recipes input[type="text"] { background-color: #18374b; border: 2px solid #d3b262; color: #ffffff; font-family: "proxima-nova", sans-serif; text-transform: uppercase; width: 100%; padding: 15px; letter-spacing: 1px; }

#search-recipes .button { width: 100%; height: 58px; line-height: 58px; padding: 0 15px; border-width: 2px; }

#search-recipes .button i { margin-right: 8px; }

#search-recipes .dropdown-menu { width: calc(100% - 30px); border-radius: 0; margin-top: 8px; font-size: 16px; font-family: "proxima-nova", sans-serif; }

@media (min-width: 768px) { #search-recipes input[type="text"] { font-size: 16px; }
  #search-recipes input[type="submit"] { width: 20%; } }

.recipe-title { width: 100%; font-size: 53px; margin-bottom: 3rem; text-align: center; }

.recipe-title #recipe-sub { font-size: 20px !important; }

.recipe-image { position: relative; height: 0; width: 100%; padding-top: 100%; background-color: #000000; background-repeat: no-repeat; background-position: top center; background-size: cover; }

.recipe-ingredients { height: 100%; padding: 50px; background-color: #ffffff; }

.recipe-ingredients .ingredients-list { list-style-type: none; padding-left: 0; }

.recipe-ingredients .ingredients-list li { display: block; font-family: "proxima-nova", sans-serif; line-height: 1.4; padding: 10px 0; }

.recipe-ingredients .ingredient-quantity { display: block; width: 100%; }

.recipe-ingredients .ingredient-name { display: block; width: 100%; }

.recipe-instructions { padding: 50px; margin-top: 30px; font-size: 18px; background-color: #ffffff; text-align: center; }

.recipe-instructions small { display: block; margin: 40px 0 0; font-size: 1rem; font-family: "proxima-nova", sans-serif; }

.recipe-instructions .button { font-size: 16px; }

.recipe-body { background-color: #ffffff; padding: 30px; text-align: center; }

.recipe-body .recipe-title { font-size: 28px; margin-bottom: 0; }

.recipes-list { padding: 0; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: stretch; }

.recipes-list.recipes-featured { flex-direction: row-reverse; }

.recipes-list.recipes-featured .recipe:first-child .content { height: 100%; }

.recipes-list.recipes-featured .recipe:first-child .content .recipe-body { height: 100%; }

.recipes-list .recipe { position: relative; width: 100%; flex-basis: 100%; margin: 20px 0; display: flex; flex-direction: column; word-wrap: break-word; background-clip: border-box; background-color: transparent; }

.recipes-list .recipe:last-of-type { margin-right: auto; }

.recipes-list .recipe .content { height: 100%; padding: 0; margin: 20px; background-color: #ffffff; }

@media (min-width: 768px) { .recipe-ingredients .ingredients-list li { display: flex; }
  .recipe-ingredients .ingredient-quantity { width: 35%; }
  .recipe-ingredients .ingredient-name { width: 80%; }
  .recipes-list .recipe { width: 50%; flex-basis: 50%; } }

#age-verification { transition: all 0.5s ease-in-out; width: 100%; height: 100%; position: fixed; top: 0; left: 0; display: flex; opacity: 0; visibility: hidden; pointer-events: none; align-items: center; justify-content: center; z-index: 2000; color: #ffffff; text-align: center; }

#age-verification.active { opacity: 1; visibility: visible; pointer-events: all; }

#age-verification .confirm-age { text-align: center; padding: 30px 0; background-image: url("/assets/img/backgrounds/bg-ingredients.png"); background-repeat: no-repeat; background-size: contain; background-position: center center; }

#age-verification button { margin: 0 10px; min-width: 75px; }

#age-verification p { margin: 25px auto 50px; font-size: 18px; }

#age-verification img { display: block; }

#age-verification img:nth-of-type(1) { width: 125px; margin: 50px auto 0; }

#age-verification img:nth-of-type(2) { width: 200px; margin: 50px auto 25px; }

.autocomplete-suggestions { border: 1px solid #d3b262; background: #FFF; overflow: auto; font-family: "proxima-nova", sans-serif; }

.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; text-transform: capitalize; }

.autocomplete-selected { background: #F0F0F0; }

.autocomplete-suggestions strong { font-weight: 700; color: #d3b262; }

.autocomplete-group { padding: 2px 5px; font-weight: 400; background-color: #eeeeee; color: #757575; }

.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.vbox-overlay *, .vbox-overlay *:before, .vbox-overlay *:after { -webkit-backface-visibility: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.vbox-overlay * { -webkit-backface-visibility: visible; backface-visibility: visible; }

.vbox-overlay { display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1040; -webkit-transform: translateZ(1000px); transform: translateZ(1000px); transform-style: preserve-3d; }

.vbox-title { width: 100%; height: 40px; float: left; text-align: center; line-height: 28px; font-size: 12px; padding: 6px 40px; overflow: hidden; position: fixed; display: none; left: 0; z-index: 1050; }

.vbox-close { cursor: pointer; position: fixed; top: -1px; right: 0; width: 50px; height: 40px; padding: 6px; display: block; background-position: 10px center; overflow: hidden; font-size: 24px; line-height: 1; text-align: center; z-index: 1050; }

.vbox-num { cursor: pointer; position: fixed; left: 0; height: 40px; display: block; overflow: hidden; line-height: 28px; font-size: 12px; padding: 6px 10px; display: none; z-index: 1050; }

.vbox-next, .vbox-prev { position: fixed; top: 50%; margin-top: -15px; overflow: hidden; cursor: pointer; display: block; width: 45px; height: 45px; z-index: 1050; }

.vbox-next span, .vbox-prev span { position: relative; width: 20px; height: 20px; border: 2px solid transparent; border-top-color: #B6B6B6; border-right-color: #B6B6B6; text-indent: -100px; position: absolute; top: 8px; display: block; }

.vbox-prev { left: 15px; }

.vbox-next { right: 15px; }

.vbox-prev span { left: 10px; -ms-transform: rotate(-135deg); -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }

.vbox-next span { -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); right: 10px; }

.vbox-inline { width: 420px; height: 315px; height: 70vh; padding: 10px; background: #fff; margin: 0 auto; overflow: auto; text-align: left; }

.venoframe { max-width: 100%; width: 100%; border: none; width: 100%; height: 260px; height: 70vh; }

.venoframe.vbvid { height: 260px; }

@media (min-width: 768px) { .venoframe, .vbox-inline { width: 90%; height: 360px; height: 70vh; }
  .venoframe.vbvid { width: 640px; height: 360px; } }

@media (min-width: 992px) { .venoframe, .vbox-inline { max-width: 1200px; width: 80%; height: 540px; height: 70vh; }
  .venoframe.vbvid { width: 960px; height: 540px; } }

.vbox-open { overflow: hidden; }

.vbox-container { position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow-x: hidden; overflow-y: scroll; overflow-scrolling: touch; -webkit-overflow-scrolling: touch; z-index: 20; max-height: 100%; }

.vbox-content { text-align: center; float: left; width: 100%; position: relative; overflow: hidden; padding: 20px 10px; }

.vbox-container img { max-width: 100%; height: auto; }

.figlio { box-shadow: 0 0 12px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); max-width: 100%; text-align: initial; }

img.figlio { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }

.vbox-content.swipe-left { margin-left: -200px !important; }

.vbox-content.swipe-right { margin-left: 200px !important; }

.animated { webkit-transition: margin 300ms ease-out; transition: margin 300ms ease-out; }

.animate-in { opacity: 1; }

.animate-out { opacity: 0; }

/* ---------- preloader ---------- SPINKIT  http://tobiasahlin.com/spinkit/ -------------------------------- */
.sk-double-bounce, .sk-rotating-plane { width: 40px; height: 40px; margin: 40px auto; }

.sk-rotating-plane { background-color: #333; -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out; animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane { 0% { -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0); }
  50% { -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0); }
  100% { -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane { 0% { -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0); }
  50% { -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0); }
  100% { -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.sk-double-bounce { position: relative; }

.sk-double-bounce .sk-child { width: 100%; height: 100%; border-radius: 50%; background-color: #333; opacity: .6; position: absolute; top: 0; left: 0; -webkit-animation: sk-doubleBounce 2s infinite ease-in-out; animation: sk-doubleBounce 2s infinite ease-in-out; }

.sk-chasing-dots .sk-child, .sk-spinner-pulse, .sk-three-bounce .sk-child { background-color: #333; border-radius: 100%; }

.sk-double-bounce .sk-double-bounce2 { -webkit-animation-delay: -1s; animation-delay: -1s; }

@-webkit-keyframes sk-doubleBounce { 0%, 100% { -webkit-transform: scale(0);
    transform: scale(0); }
  50% { -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-doubleBounce { 0%, 100% { -webkit-transform: scale(0);
    transform: scale(0); }
  50% { -webkit-transform: scale(1);
    transform: scale(1); } }

.sk-wave { margin: 40px auto; width: 50px; height: 40px; text-align: center; font-size: 10px; }

.sk-wave .sk-rect { background-color: #333; height: 100%; width: 6px; display: inline-block; -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out; animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }

.sk-wave .sk-rect1 { -webkit-animation-delay: -1.2s; animation-delay: -1.2s; }

.sk-wave .sk-rect2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }

.sk-wave .sk-rect3 { -webkit-animation-delay: -1s; animation-delay: -1s; }

.sk-wave .sk-rect4 { -webkit-animation-delay: -.9s; animation-delay: -.9s; }

.sk-wave .sk-rect5 { -webkit-animation-delay: -.8s; animation-delay: -.8s; }

@-webkit-keyframes sk-waveStretchDelay { 0%, 100%, 40% { -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4); }
  20% { -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes sk-waveStretchDelay { 0%, 100%, 40% { -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4); }
  20% { -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

.sk-wandering-cubes { margin: 40px auto; width: 40px; height: 40px; position: relative; }

.sk-wandering-cubes .sk-cube { background-color: #333; width: 10px; height: 10px; position: absolute; top: 0; left: 0; -webkit-animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both; animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both; }

.sk-chasing-dots, .sk-spinner-pulse { width: 40px; height: 40px; margin: 40px auto; }

.sk-wandering-cubes .sk-cube2 { -webkit-animation-delay: -.9s; animation-delay: -.9s; }

@-webkit-keyframes sk-wanderingCube { 0% { -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% { -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
    transform: translateX(30px) rotate(-90deg) scale(0.5); }
  50% { -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
    transform: translateX(30px) translateY(30px) rotate(-179deg); }
  50.1% { -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
    transform: translateX(30px) translateY(30px) rotate(-180deg); }
  75% { -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5); }
  100% { -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes sk-wanderingCube { 0% { -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% { -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
    transform: translateX(30px) rotate(-90deg) scale(0.5); }
  50% { -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
    transform: translateX(30px) translateY(30px) rotate(-179deg); }
  50.1% { -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
    transform: translateX(30px) translateY(30px) rotate(-180deg); }
  75% { -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5); }
  100% { -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

.sk-spinner-pulse { -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out; animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut { 0% { -webkit-transform: scale(0);
    transform: scale(0); }
  100% { -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut { 0% { -webkit-transform: scale(0);
    transform: scale(0); }
  100% { -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

.sk-chasing-dots { position: relative; text-align: center; -webkit-animation: sk-chasingDotsRotate 2s infinite linear; animation: sk-chasingDotsRotate 2s infinite linear; }

.sk-chasing-dots .sk-child { width: 60%; height: 60%; display: inline-block; position: absolute; top: 0; -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out; animation: sk-chasingDotsBounce 2s infinite ease-in-out; }

.sk-chasing-dots .sk-dot2 { top: auto; bottom: 0; -webkit-animation-delay: -1s; animation-delay: -1s; }

@-webkit-keyframes sk-chasingDotsRotate { 100% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate { 100% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce { 0%, 100% { -webkit-transform: scale(0);
    transform: scale(0); }
  50% { -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-chasingDotsBounce { 0%, 100% { -webkit-transform: scale(0);
    transform: scale(0); }
  50% { -webkit-transform: scale(1);
    transform: scale(1); } }

.sk-three-bounce { margin: 40px auto; width: 80px; text-align: center; }

.sk-three-bounce .sk-child { width: 20px; height: 20px; display: inline-block; -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }

.sk-circle .sk-child:before, .sk-fading-circle .sk-circle:before { display: block; border-radius: 100%; content: ''; background-color: #333; }

.sk-three-bounce .sk-bounce1 { -webkit-animation-delay: -.32s; animation-delay: -.32s; }

.sk-three-bounce .sk-bounce2 { -webkit-animation-delay: -.16s; animation-delay: -.16s; }

@-webkit-keyframes sk-three-bounce { 0%, 100%, 80% { -webkit-transform: scale(0);
    transform: scale(0); }
  40% { -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-three-bounce { 0%, 100%, 80% { -webkit-transform: scale(0);
    transform: scale(0); }
  40% { -webkit-transform: scale(1);
    transform: scale(1); } }

.sk-circle { margin: 40px auto; width: 40px; height: 40px; position: relative; }

.sk-circle .sk-child { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }

.sk-circle .sk-child:before { margin: 0 auto; width: 15%; height: 15%; -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }

.sk-circle .sk-circle2 { -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg); }

.sk-circle .sk-circle3 { -webkit-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(60deg); }

.sk-circle .sk-circle4 { -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

.sk-circle .sk-circle5 { -webkit-transform: rotate(120deg); -ms-transform: rotate(120deg); transform: rotate(120deg); }

.sk-circle .sk-circle6 { -webkit-transform: rotate(150deg); -ms-transform: rotate(150deg); transform: rotate(150deg); }

.sk-circle .sk-circle7 { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.sk-circle .sk-circle8 { -webkit-transform: rotate(210deg); -ms-transform: rotate(210deg); transform: rotate(210deg); }

.sk-circle .sk-circle9 { -webkit-transform: rotate(240deg); -ms-transform: rotate(240deg); transform: rotate(240deg); }

.sk-circle .sk-circle10 { -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); }

.sk-circle .sk-circle11 { -webkit-transform: rotate(300deg); -ms-transform: rotate(300deg); transform: rotate(300deg); }

.sk-circle .sk-circle12 { -webkit-transform: rotate(330deg); -ms-transform: rotate(330deg); transform: rotate(330deg); }

.sk-circle .sk-circle2:before { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }

.sk-circle .sk-circle3:before { -webkit-animation-delay: -1s; animation-delay: -1s; }

.sk-circle .sk-circle4:before { -webkit-animation-delay: -.9s; animation-delay: -.9s; }

.sk-circle .sk-circle5:before { -webkit-animation-delay: -.8s; animation-delay: -.8s; }

.sk-circle .sk-circle6:before { -webkit-animation-delay: -.7s; animation-delay: -.7s; }

.sk-circle .sk-circle7:before { -webkit-animation-delay: -.6s; animation-delay: -.6s; }

.sk-circle .sk-circle8:before { -webkit-animation-delay: -.5s; animation-delay: -.5s; }

.sk-circle .sk-circle9:before { -webkit-animation-delay: -.4s; animation-delay: -.4s; }

.sk-circle .sk-circle10:before { -webkit-animation-delay: -.3s; animation-delay: -.3s; }

.sk-circle .sk-circle11:before { -webkit-animation-delay: -.2s; animation-delay: -.2s; }

.sk-circle .sk-circle12:before { -webkit-animation-delay: -.1s; animation-delay: -.1s; }

@-webkit-keyframes sk-circleBounceDelay { 0%, 100%, 80% { -webkit-transform: scale(0);
    transform: scale(0); }
  40% { -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-circleBounceDelay { 0%, 100%, 80% { -webkit-transform: scale(0);
    transform: scale(0); }
  40% { -webkit-transform: scale(1);
    transform: scale(1); } }

.sk-cube-grid { width: 40px; height: 40px; margin: 40px auto; }

.sk-cube-grid .sk-cube { width: 33.33%; height: 33.33%; background-color: #333; float: left; -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 { -webkit-animation-delay: .2s; animation-delay: .2s; }

.sk-cube-grid .sk-cube2 { -webkit-animation-delay: .3s; animation-delay: .3s; }

.sk-cube-grid .sk-cube3 { -webkit-animation-delay: .4s; animation-delay: .4s; }

.sk-cube-grid .sk-cube4 { -webkit-animation-delay: .1s; animation-delay: .1s; }

.sk-cube-grid .sk-cube5 { -webkit-animation-delay: .2s; animation-delay: .2s; }

.sk-cube-grid .sk-cube6 { -webkit-animation-delay: .3s; animation-delay: .3s; }

.sk-cube-grid .sk-cube7 { -webkit-animation-delay: 0ms; animation-delay: 0ms; }

.sk-cube-grid .sk-cube8 { -webkit-animation-delay: .1s; animation-delay: .1s; }

.sk-cube-grid .sk-cube9 { -webkit-animation-delay: .2s; animation-delay: .2s; }

@-webkit-keyframes sk-cubeGridScaleDelay { 0%, 100%, 70% { -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% { -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay { 0%, 100%, 70% { -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% { -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

.sk-fading-circle { margin: 40px auto; width: 40px; height: 40px; position: relative; }

.sk-fading-circle .sk-circle { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }

.sk-fading-circle .sk-circle:before { margin: 0 auto; width: 15%; height: 15%; -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both; animation: sk-circleFadeDelay 1.2s infinite ease-in-out both; }

.sk-fading-circle .sk-circle2 { -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg); }

.sk-fading-circle .sk-circle3 { -webkit-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(60deg); }

.sk-fading-circle .sk-circle4 { -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

.sk-fading-circle .sk-circle5 { -webkit-transform: rotate(120deg); -ms-transform: rotate(120deg); transform: rotate(120deg); }

.sk-fading-circle .sk-circle6 { -webkit-transform: rotate(150deg); -ms-transform: rotate(150deg); transform: rotate(150deg); }

.sk-fading-circle .sk-circle7 { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.sk-fading-circle .sk-circle8 { -webkit-transform: rotate(210deg); -ms-transform: rotate(210deg); transform: rotate(210deg); }

.sk-fading-circle .sk-circle9 { -webkit-transform: rotate(240deg); -ms-transform: rotate(240deg); transform: rotate(240deg); }

.sk-fading-circle .sk-circle10 { -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); }

.sk-fading-circle .sk-circle11 { -webkit-transform: rotate(300deg); -ms-transform: rotate(300deg); transform: rotate(300deg); }

.sk-fading-circle .sk-circle12 { -webkit-transform: rotate(330deg); -ms-transform: rotate(330deg); transform: rotate(330deg); }

.sk-fading-circle .sk-circle2:before { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }

.sk-fading-circle .sk-circle3:before { -webkit-animation-delay: -1s; animation-delay: -1s; }

.sk-fading-circle .sk-circle4:before { -webkit-animation-delay: -.9s; animation-delay: -.9s; }

.sk-fading-circle .sk-circle5:before { -webkit-animation-delay: -.8s; animation-delay: -.8s; }

.sk-fading-circle .sk-circle6:before { -webkit-animation-delay: -.7s; animation-delay: -.7s; }

.sk-fading-circle .sk-circle7:before { -webkit-animation-delay: -.6s; animation-delay: -.6s; }

.sk-fading-circle .sk-circle8:before { -webkit-animation-delay: -.5s; animation-delay: -.5s; }

.sk-fading-circle .sk-circle9:before { -webkit-animation-delay: -.4s; animation-delay: -.4s; }

.sk-fading-circle .sk-circle10:before { -webkit-animation-delay: -.3s; animation-delay: -.3s; }

.sk-fading-circle .sk-circle11:before { -webkit-animation-delay: -.2s; animation-delay: -.2s; }

.sk-fading-circle .sk-circle12:before { -webkit-animation-delay: -.1s; animation-delay: -.1s; }

@-webkit-keyframes sk-circleFadeDelay { 0%, 100%, 39% { opacity: 0; }
  40% { opacity: 1; } }

@keyframes sk-circleFadeDelay { 0%, 100%, 39% { opacity: 0; }
  40% { opacity: 1; } }

.sk-folding-cube { margin: 40px auto; width: 40px; height: 40px; position: relative; -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube { float: left; width: 50%; height: 50%; position: relative; -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.sk-folding-cube .sk-cube:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #333; -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both; animation: sk-foldCubeAngle 2.4s infinite linear both; -webkit-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 { -webkit-transform: scale(1.1) rotateZ(90deg); transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 { -webkit-transform: scale(1.1) rotateZ(180deg); transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 { -webkit-transform: scale(1.1) rotateZ(270deg); transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before { -webkit-animation-delay: .3s; animation-delay: .3s; }

.sk-folding-cube .sk-cube3:before { -webkit-animation-delay: .6s; animation-delay: .6s; }

.sk-folding-cube .sk-cube4:before { -webkit-animation-delay: .9s; animation-delay: .9s; }

@-webkit-keyframes sk-foldCubeAngle { 0%, 10% { -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% { -webkit-transform: perspective(140px) rotateX(0);
    transform: perspective(140px) rotateX(0);
    opacity: 1; }
  100%, 90% { -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle { 0%, 10% { -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% { -webkit-transform: perspective(140px) rotateX(0);
    transform: perspective(140px) rotateX(0);
    opacity: 1; }
  100%, 90% { -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

.visitnav { padding: 5px 10px; }

.visitnav li a { color: #e9e9e3; padding-left: 20px; padding-right: 20px; text-transform: uppercase; font-family: "proxima-nova", sans-serif; letter-spacing: 3px; font-size: 14px; }

#visitnav-mobile .nav li:last-of-type { border-bottom: 1px solid #ffffff; padding-bottom: 10px; }

#visitnav-mobile .nav li a { font-family: "proxima-nova", sans-serif; letter-spacing: 3px; font-size: 14px; text-transform: uppercase; border-bottom: none; }

.banner-desktop { display: block; }

.banner-mobile { display: none; }

#instagram-feed .button.inline { color: #ffffff; border-color: #ffffff; }

#instagram-feed .button.inline:hover { border-color: #d3b262; }

@media (max-width: 767px) { .banner-desktop { display: none; }
  .banner-mobile { display: block; } }

#home-products .no-gutters { margin-left: -1px; margin-right: -1px; }

#home-products a { transition: 0.4s background-color ease-in-out; }

#home-products a hr { border-color: #ffffff; transition: 0.4s border-color ease-in-out; }

#home-products a:hover { background-color: #0d1a26; }

#home-products a:hover hr.blackstrap { border-color: #57aedc; }

#home-products a:hover hr.cherry-bark-vanilla { border-color: #e7474b; }

#home-products a:hover hr.bolivar { border-color: #a465a8; }

#home-products a:hover hr.orange { border-color: #f27033; }

#home-products a:hover hr.trinity { border-color: #daC325; }

#home-products a:hover hr.root-beer { border-color: #499d9d; }

#home-products a:hover hr.jamaican-1 { border-color: #69be6b; }

#home-products a:hover hr.jamaican-2 { border-color: #e8a3c8; }

#home-products a:hover hr.corazon { border-color: #b48039; }

@media (min-width: 768px) { .homepage-layout #page-content { padding-top: 0; } }

#contact-info h4, #contact-info h5 { letter-spacing: 2px; text-transform: uppercase; }

#contact-info a, #contact-info address { border-bottom: 0; font-family: "Alegreya", serif; font-size: 20px; text-transform: none; }

#contact-info .phone { font-family: "proxima-nova", sans-serif; font-size: 18px; }

.distributors { align-items: stretch; display: flex; justify-content: space-between; flex-wrap: wrap; }

.distributors::after { height: 0; width: 30%; content: ''; }

.distributors .distributor { border-bottom: 2px solid #18374b; width: 100%; text-align: center; margin-bottom: 30px; }

.bordered { position: relative; }

@media (min-width: 576px) { .distributors .distributor { width: 47%; } }

@media (min-width: 768px) { #contact-info a, #contact-info address { font-size: 1.8rem; }
  .distributors .distributor { width: 30%; }
  .bordered::before, .bordered::after { content: ''; width: 30%; border-top: 1px solid #d3b262; position: absolute; top: 50%; }
  .bordered::before { left: 0; }
  .bordered::after { right: 0; } }

#consulting img { width: 125px; }

#contact-consulting .lead { margin-top: 20px; }

#additional-support ul { list-style-type: none; padding-left: 0; }

#additional-support ul li { margin-bottom: 15px; }

.event-card .bg-image { background-color: #e9e9e3; }

.event-card .card-body { padding: 20px; height: 100%; }

.event-description { line-height: 1.7; }

.events-nav a:hover { cursor: pointer; }

.events-nav a:hover, .events-nav a.mixitup-control-active { border-bottom: 1px solid #18374b; }

.events-row .no-events { opacity: 0; visibility: hidden; height: 0; transition: 0.3s opacity ease-in-out; }

.events-row .no-events p { font-size: 20px; }

.events-row.mixitup-container-failed .no-events { opacity: 1; visibility: visible; height: auto; }

.select.event-select { background-color: #ffffff; border: 0; }

@media (min-width: 992px) { .events-row .no-events p { font-size: 27px; } }

#about-story .lead { font-size: 23px; line-height: 31px; }

#about-story p { font-size: 17px; line-height: 27px; }

#team h3 { margin-top: 50px; }

.team-member h4 { font-size: 22px; font-family: "Alegreya", serif; letter-spacing: 0; }

.team-member span { font-size: 14px; font-family: "proxima-nova", sans-serif; text-transform: uppercase; letter-spacing: 2px; }

.team-member:last-of-type { margin-right: auto; margin-left: 2.5%; }

.partners { align-items: center; justify-content: space-between; display: flex; flex-wrap: wrap; }

.partners a { border-bottom: 0; display: block; padding: 10px; width: 50%; }

@media (min-width: 768px) { .partners a { width: auto; padding: 20px 7px; } }

#syrup-recipes .recipe-instructions { height: 100%; margin-top: 0; }

#syrup-recipe .recipe-instructions { height: 100%; margin-top: 0; }

#visit-overview .content, #visit-overview .card { height: 100%; }

#visit-overview .card-body { padding: 0 20px; }

.link-white a { color: #d3b262; }

@media (max-width: 991px) { .col-hours { width: 100%; flex-basis: auto; } }

input, textarea { border: 0; margin: .5rem 0; padding: .5rem 1rem; width: 100%; }

input:focus, textarea:focus { outline-style: solid; outline-color: #d3b262; outline-width: 3px; }

input[type="submit"] { display: inline-block; width: auto; }

.select { position: relative; border: 1px solid #18374b; height: 42px; line-height: 42px; font-family: "proxima-nova", sans-serif; text-align: center; color: #18374b; }

.select::after { content: ''; position: absolute; display: block; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #18374b; top: 50%; right: 0; transform: translate(-50%, -50%); cursor: pointer; pointer-events: none; }

.select select { background: transparent; border: 0; height: 42px; line-height: 42px; width: 100%; padding: 0px 32px 0 17px; -webkit-appearance: none; }

.cognito .c-forms-form { max-width: 100% !important; }

.cognito .c-forms-form .c-field { padding: 8px 0 2px; }

.cognito .c-forms-form .c-field input, .cognito .c-forms-form .c-field textarea { border: 2px solid #18374b; color: #18374b; }

.cognito .c-forms-form .c-field:focus { outline-style: solid; outline-color: #d3b262; }

.cognito .c-forms-form .c-action { float: none; text-align: center; }

.cognito .c-forms-form #c-submit-button { transition: all 0.5s ease-in-out; font-family: "proxima-nova", sans-serif; border: 2px solid #18374b; border-radius: 0; color: #18374b; text-transform: uppercase; letter-spacing: 2px; padding: 10px 30px; margin-top: 35px; }

.cognito .c-forms-form #c-submit-button:hover { background-color: #18374b; color: #ffffff; }

.cognito .c-forms-form #c-submit-button:focus { outline: none; }

.cognito .c-forms-form .c-forms-confirmation-message { text-align: center; font-family: "Alegreya", serif !important; color: #18374b !important; font-size: 20px !important; border: 1px solid #18374b; }

.cognito .c-label label, .cognito .c-label .c-label { font-family: "Alegreya", serif; color: #18374b; font-size: 16px; }

.cognito .c-button-section { padding: 20px 0; }

.cognito .c-validation { border-radius: 0; padding: 5px 10px; }

.mce_inline_error { color: #d3b262; }

/*# sourceMappingURL=main.css.map */