body {
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // font-family: $font-family-primary;
  // line-height: 1.6;
  // font-size: 16px;
  // letter-spacing: 1px;
  // background-color: $gray-lighter;
  // color: #3f4040;
}

section {
  position: relative;
  padding: 50px 0;
  clear: both;
  overflow: hidden;
  &:focus {
    outline: none;
  }
}

a {
  // padding-bottom: 5px;
  // font-weight: 400;
  // &:hover, &:focus {
  //   text-decoration: none;
  //   outline: none;
  // }
}
