body {
  color: $brand-primary;
  font-family: $font-family-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

section {
  clear: both;
  overflow: hidden;
  padding: 50px 0;
  position: relative;

  &:focus {
    outline: none;
  }
}

a {
  border-bottom: 1px solid $brand-primary;
  color: $brand-primary;
  font-family: $font-family-sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
