<div id="age-verification" class="bg-blue">
  <div class="container">
    <img src="/assets/img/logo.svg" alt="Bittercube Logo">
    <div class="confirm-age">
      <p>Are you of legal drinking age in the country you live in?</p>
      <button id="yes" class="button button-bordered">Yes</button>
      <button id="no" class="button button-bordered">No</button>

      <button id="check">check cookie</button>
    </div>
    <img src="/assets/img/wordmark.svg" alt="Bittercube wordmark">
  </div>
</div>
