<footer id="page-footer" class="bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="content">
          <img src="http://via.placeholder.com/250x75" class="img-fluid" alt="">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/consulting">Consulting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recipes">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <h3>Sign Up For Our Newsletter</h3>
          <input type="text">
          <input type="text">
          <input type="submit" value="submit">
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <h3>Contact</h3>
          <h4>General Inquiries</h4>
          <a href="mailto:info@bittercube.com">info@bittercube.com</a>
          <h4>Apothecary Phone</h4>
          <a href="tel:414-367-4477">414.367.4477</a>
          <h4>Apothecary Address</h4>
          <address>2018 S. 1st St Suite No.<br>
          Milwaukee WI, 53207</address>
        </div>
      </div>
    </div>
  </div>
</footer>