<footer id="page-footer" class="bg-blue bg-pattern">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="content">
          <img src="/assets/img/wordmark.svg" class="img-fluid" alt="Bittercube logo">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/consulting">Consulting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recipes">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
          <ul class="nav socialnav">
            <li><a href="#"><i class="icon-cart"></i> &vert;&nbsp;</a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <h2 class="mt-0">Sign Up For Our Newsletter</h2>
          <!--mailchimp sign up-->
          <form id="mc-embedded-subscribe-form" class="validate" action="//bittercube.us9.list-manage.com/subscribe/post?u=0880f72a001c4b753f500dd60&amp;id=25ad88132e" method="post" name="mc-embedded-subscribe-form" novalidate="novalidate" target="_blank">
          <div class="mc-field-group"><label for="mce-EMAIL" class="sr-only">Email Address <span class="asterisk">*</span></label>
          <input id="mce-EMAIL" class="required email" name="EMAIL" type="email" value="" aria-required="true" placeholder="Email*"></div>
          <div class="mc-field-group"><label for="mce-FNAME" class="sr-only">First Name </label>
          <input id="mce-FNAME" class="" name="FNAME" type="text" value="" placeholder="First Name"></div>
          <div class="mc-field-group"><label for="mce-LNAME" class="sr-only">Last Name </label>
          <input id="mce-LNAME" class="" name="LNAME" type="text" value="" placeholder="Last Name"></div>
          <div id="mce-responses" class="clear"></div>
          <p><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--></p>
          <div style="position: absolute; left: -5000px;"><input tabindex="-1" name="b_0880f72a001c4b753f500dd60_25ad88132e" type="text" value=""></div>
          <div class="clear textalignC"><input id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe" class="button button-yellow"></div>
          </form>
          <p><script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script><br>
          <!--End mc_embed_signup--></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-details content">
          <h2 class="mt-0">Contact</h2>
          <h4>General Inquiries</h4>
          <a href="mailto:info@bittercube.com">info@bittercube.com</a>
          <h4>Apothecary Phone</h4>
          <a href="tel:414-367-4477">414.367.4477</a>
          <h4>Apothecary Address</h4>
          <address>2018 S. 1st St<br>Suite No.<br>
          Milwaukee WI, 53207</address>
        </div>
      </div>
    </div>
  </div>
</footer>