<header id="page-header" class="fixed-top {% if page.url == '/' %}home-header{% endif %}">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ '/assets/img/logo.svg' | prepend: site.baseurl }}"
          alt="Bittercube Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnav" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="bar close-one"></span>
        <span class="bar close-two"></span>
        <span class="bar close-three"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainnav">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.shop_url }}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/consulting' }}">Consulting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/recipes' | prepend: site.baseurl }}">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/about' | prepend: site.baseurl }}">About</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link" href="{{ '/visit' | prepend: site.baseurl }}">Visit</a>
          </li>
          <li id="visitnav-mobile" class="nav-item d-block d-md-none">
            <a class="nav-link border-0" href="{{ '/visit' | prepend: site.baseurl }}">Visit</a>
            <ul class="nav flex-column">
              <li><a href="/visit/bar">Bar</a></li>
              <li><a href="/visit/bazaar">Bazaar</a></li>
              <li><a href="/visit/take-a-tour">Take a Tour</a></li>
              <li><a href="/visit/events">Events</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/contact' | prepend: site.baseurl }}">Contact</a>
          </li>
        </ul>
        {% include navigation/socialnav.html %}
      </div>
    </nav>
  </div>
  {% if page.url contains 'visit' %}
  {% include navigation/visitnav.html %}
  {% endif %}
</header>