<head>
  <meta name="google" content="notranslate" />
  <meta http-equiv="Content-Language" content="en_US" />
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  {% for item in page.meta %}<meta name="description"content="{% if item.description %}{{ item.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">{% endfor %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WD2CWKF');</script>
<!-- End Google Tag Manager -->

  {% if site.facebook.title %}
  <meta property="fb:app_id" content="{{ site.facebook.appid }}">
  <meta property="og:title" content="{{ site.facebook.title }}">
  <meta property="og:description" content="{{ site.facebook.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | prepend: site.url }}">
  <meta property="og:image" content="{{ site.facebook.featured_image }}">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="600">
  {% endif %}
  
   {% if site.twitter.title %}
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:site" content="{{ site.twitter.username }}">
   <meta name="twitter:creator" content="{{ site.twitter.username }}">
   <meta name="twitter:title" content="{{ site.twitter.title }}">
   <meta name="twitter:description" content="{{ site.twitter.description }}">
   <meta name="twitter:text:description" content="{{ site.twitter.description }}">
   <meta name="twitter:image" content="{{ site.twitter.featured_image }}">
   <meta name="twitter:image:alt" content="{{ site.twitter.image_alt_text }}">
  {% endif %}

  <!-- Fav and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/icons/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/icons/safari-pinned-tab.svg" color="#5bbad5">

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">

  <!-- Modernizr -->
  <script src="{{ '/assets/js/head.js' | prepend: site.baseurl }}"></script>
  
  <!-- Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-109622207-1', 'auto');
    ga('send', 'pageview');
  </script>
  
  
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        
        fbq('init', '235830367055964'); 
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" 
        src="https://www.facebook.com/tr?id=235830367055964&ev=PageView
        &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>