<section id="search-recipes" class="bg-blue">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="content d-flex">
          <input id="search"
                 type="text"
                 placeholder="Enter and ingredient, cocktail, bitters style"
                 data-provide="typeahead"
                 data-ref="input-search">
          <button class="button button-yellow">
            <i class="icon-search"></i>Search
          </button>
        </div>
      </div>
    </div>
  </div>
</section>