<!-- Javascript -->
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/assets/js/vendor/jquery.autocomplete.js' | prepend: site.baseurl }}"></script>
<script>
  $('[data-ref="input-search"]').autocomplete({
      serviceUrl: '/api/autocomplete.json',
      maxHeight: 250,
      autoSelectFirst: true,
      onSelect: function (suggestion) {
          console.log('Filtering by: ' + suggestion.value + ', ' + suggestion.data);
      }
  });
</script>

<!-- Analytics -->
{% include analytics.html %}


