<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content text-center editable">
          <h3>Stop By</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="content text-center">
          <div class="bg-image aspect-1x1" style="background-image: url(/assets/img/visit/stop_by_footer.jpg)"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex flex-column justify-content-between h-100">
          <div class="content editable">
            <p class="lead">We are located at 4828 W Lisbson Ave, Milwaukee WI 53210. There is a public parking lot directly across the street from
            our building and a crosswalk in front of the police station. There is also ample street parking available in the
            surrounding neighborhood. Please do not park in parking lots of other businesses. Enter through the front door for both
            the Bittercube Bar & Bazaar. Tell your Uber/Lyft/taxi driver to drop you off right in front of the building!</p>
          </div>
          <div class="content">
            <div class="d-flex">
              <a class="button inline mr-3" href="tel:414-367-4477">(414) 367-4477</a>
              <a class="button inline ml-3" href="https://www.google.com/maps/place/4828+W+Lisbon+Ave,+Milwaukee,+WI+53210,+USA/@43.0616367,-87.9767829,17z/data=!3m1!4b1!4m5!3m4!1s0x88051b751aaa9515:0xbcf6fe69fb12e830!8m2!3d43.0616367!4d-87.9745942" target="_blank">Directions</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>