.button {
  @include transition(.5s);
  background-color: transparent;
  border: 1px solid $brand-primary;
  color: $brand-primary;
  display: inline-block;
  font-family: $font-family-sans-serif;
  letter-spacing: 2px;
  margin: 1rem 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: $brand-primary;
    color: $white;
  }

  &.button-block {
    display: block;
  }

  &.button-yellow {
    background-color: $yellow;

    &:hover {
      background-color: transparent;
      border: 1px solid $yellow;
    }
  }
}
