.card {
  border: 0;
  border-radius: 0;
  position: relative;

  .card-img-top {
    border-radius: 0;
  }

  .card-img-wrapper {
    background-color: $white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    width: 100%;
  }

  .card-body {
    padding: 20px 0;
  }

  .hover-overlay {
    border: 1px solid $yellow;
    position: relative;

    &:hover {
      .overlay-text {
        opacity: 1;
        visibility: visible;
      }
    }

    .overlay-text {
      @include transition(.5s);
      align-items: center;
      background-color: $brand-primary-opacity-60;
      color: $yellow;
      display: flex;
      font-family: $font-family-sans-serif;
      height: 100%;
      left: 0;
      opacity: 0;
      padding: 10px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      visibility: hidden;
    }
  }

  .card-footer {
    background-color: transparent;
    border: 0;
    padding: 0;

    .button {
      display: block;
      font-size: .8rem;
    }
  }
}

.card-grid {
  align-items: center;
  justify-content: space-between;
  display: flex;
  .card {
    width: 23%;
  }
}
