.card {
  border: 0;
  border-radius: 0;
  position: relative;

  .card-img-top {
    border-radius: 0;
  }

  .card-img-wrapper {
    background-color: $white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    position: relative;
  }

  .card-body {
    padding: 20px 0;
  }

  .hover-overlay {
    border: 1px solid $yellow;
    position: relative;

    &:hover {
      .overlay-text {
        opacity: 1;
        visibility: visible;
      }
    }

    .overlay-text {
      @include transition(.5s);
      align-items: center;
      background-color: $brand-primary-opacity-60;
      color: $yellow;
      display: flex;
      font-family: $font-family-sans-serif;
      height: 100%;
      left: 0;
      opacity: 0;
      padding: 10px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      visibility: hidden;
    }
  }

  .card-footer {
    background-color: transparent;
    border: 0;
    padding: 0;

    // .button {
    //   display: block;
    //   font-size: .8rem;
    // }
  }
}

.card-grid {
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  .card {
    width: 100%;

    a {
      font-family: $font-family-serif;
      border-bottom: 0;
      line-height: 1.4;
    }
  }
}

// Media Queries
// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {
  .card-grid {
    .card {
      width: 48%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {
  .card-grid {
    .card {
      width: 23%;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
