.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(24, 55, 75, .95);
  background-blend-mode: multiply;
  .hero-caption {
    text-align: center; 
    width: 50%;
  }
  h1, h2, h3, h4, h5, h6, p {
    color: #fff;
    margin-bottom: 0;
  }
  p {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}