#search-recipes {
  input[type='submit'] {
    color: $brand-primary;
    position: relative;
    text-transform: uppercase;

    &::before {
      content: '\e902';
      display: block;
      font-family: 'bittercube';
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}
