#search-recipes {
  background-image: url('/assets/img/recipes/bg-ingredients.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  
  .d-flex {
    flex-wrap: wrap;
  }

  input[type="text"] {
    background-color: $brand-primary;
    border: 2px solid $yellow;
    color: $white;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    width: 100%;
  }

  input[type="submit"] {
    background-color: $yellow;
    border: 2px solid $brand-primary;
    color: $brand-primary;
    font-family: $font-family-sans-serif;
    width: 100%;
    position: relative;
    text-transform: uppercase;

    &::before {
      content: '\e902';
      display: block;
      font-family: 'bittercube';
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}

// Media Queries
// Small devices (landscape phones, 576px and up, 767px and down)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {
  #search-recipes {
    .d-flex {
      flex-wrap: nowrap;
    }
    input[type="text"] {
      width: 80%;
      margin-right: 20px;
    }
    input[type="submit"] {
      width: 20%;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
