.cognito {
  .c-forms-form {
    max-width: 100% !important;
    .c-field {
      padding: 8px 0 2px;
      input,
      textarea {
        border: 2px solid $brand-primary;
        color: $brand-primary;
      }

      &:focus {
        outline-style: solid;
        outline-color: $yellow;
      }
    }

    .c-action {
      float: none;
      text-align: center;
    }

    #c-submit-button {
      @include transition(.5s);
      font-family: $font-family-sans-serif;
      border: 2px solid $brand-primary;
      border-radius: 0;
      color: $brand-primary;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 10px 30px;
      margin-top: 35px;

      &:hover {
        background-color: $brand-primary;
        color: $white;
      }
      &:focus {
        outline: none;
      }
    }

    .c-forms-confirmation-message {
      text-align: center;
      font-family: $font-family-serif !important;
      color: $brand-primary !important;
      font-size: 20px !important;
      border: 1px solid $brand-primary;
    }
  }

  .c-label {
    label,
    .c-label {
      font-family: $font-family-serif;
      color: $brand-primary;
      font-size: 16px;
    }
  }

  .c-button-section {
    padding: 20px 0;
  }
  .c-validation {
    border-radius: 0;
    padding: 5px 10px;
  }
}
