---
layout: default
---

{% include recipe-search.html %}

<section id="recipe" class="bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h1 class="mb-5">{{ page.title }}</h1>
          <div class="recipe-image" style="background-image: url({{ page.image }})">
            <a href="https://pinterest.com/pin/create/button/?url={{ site.url | xml_escape }}{{ page.url | xml_escape }}&media={{ site.url | xml_escape }}{{ page.image | xm_escape }}&description={{ page.title | xml_escape }}" target="_blank" data-pin-do="buttonPin" data-pin-custom="true" class="pinterest-share"><i class="icon-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="d-flex">
            <div class="card ingredients">
              <h5 class="text-center">Ingredients</h5>
              <ul class="ingredients-list">
                {% for ingredient in page.ingredients %}
                <li>
                  <span class="ingredient-quantity">{{ ingredient.quantity }}</span>
                  <span class="ingredient-name">{{ ingredient.name }}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="card notes">
              <h5 class="text-center">Notes</h5>
              {{ page.notes_html }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <p>Please Imbibe Responsibly</p>
        </div>
      </div>
    </div>
  </div>
</section>