---
layout: page
title: Consulting

permalink: /consulting
---

<div class="hero" style="background-image: url(/assets/img/consulting/hero-consulting.jpg)">
  <div class="hero-caption">
    <h1>Seven Pillars Consulting</h1>
    <p>By Bittercube</p>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <p class="lead">Seven Pillars Consulting is Bittercube’s dedicated workforce of award-winning bartenders, operations management personnel and wine &amp; beer experts. We work with consulting clients large and small around the country to concept and tailor client-specific cocktails and menus for bars and restaurants of any style. Beyond cocktail consultants, Bittercube employs Wine experts, dedicated FOH manager trainers, in-house designers, and social media/marketing directors. Together we work with clients around the country to achieve goals for their bars and restaurants above and beyond our dedication to the craft of the cocktail.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="content text-center">
          <h5>Restaurants &amp; Bars</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content text-center">
          <h5>Cocktail Catering</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content text-center">
          <h5>Brands</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content text-center">
          <h5>Custom Products</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-yellow bg-pattern">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2>The Training Program</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="content">
          <img src="http://via.placeholder.com/350x350" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <div class="content">
          <p>Over the last seven years Bittercube has trained over 300 bartenders and thousands of home enthusiasts. Our training manual is practical and focuses on tangible instruction for bartenders of all experience levels. During 3-8 days of initial training, the Bittercube team will teach various cocktail techniques and ideology and remain on site to lead the bar team through first few days of service (depending on agreement). As part of this training, bar staff learns to create house-made products including syrups, infusions, tinctures, tonics, etc., and gets trained on a tailored seasonal cocktail menu and uniquely curated spirit list.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        {% for testimonial in site.data.testimonials %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="content">
                <blockquote>
                  {{ testimonial.testimonial }}
                  <span>- {{ testimonial.author }}{% if testimonial.company %}, {{ testimonial.company  }}{% endif %}</span>
                </blockquote>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content">
                <img src="http://via.placeholder.com/350x350/00{{ forloop.index }}" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
  </div>
</section>

<section id="contact-consulting" class="bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h1>You’ve Got Questions? We’ve Got Answers!</h1>
          <p class="lead">If you need to get in touch with the consulting team, please fill out the form below and we’ll be in touch shortly.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="cognito">
          <script src="https://services.cognitoforms.com/s/bbN8iw1MJUqjPe6aHn-_rw"></script>
          <script>Cognito.load("forms", { id: "3" });</script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>