/*
Error: Invalid CSS after "...views/homepage"": expected "{", was ";"
        on line 36 of src/_assets/scss/main.scss

31: @import 'elements/recipes';
32: @import 'elements/age_verification';
33: 
34: // Page specific styles
35: <<<<<<< HEAD
36: @import "views/homepage";
37: =======
38: @import 'views/homepage';
39: >>>>>>> dfb30aae5896ea4a6d9f7f5e10c4d494c9e2558f
40: @import 'views/contact';
41: @import "views/consulting";

Backtrace:
src/_assets/scss/main.scss:36
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:665:in `block'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/bin/sass:23:in `load'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/bin/sass:23:in `<main>'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/bin/ruby_executable_hooks:15:in `eval'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...views/homepage\"\": expected \"{\", was \";\"\A         on line 36 of src/_assets/scss/main.scss\A \A 31: @import 'elements/recipes';\A 32: @import 'elements/age_verification';\A 33: \A 34: // Page specific styles\A 35: <<<<<<< HEAD\A 36: @import \"views/homepage\";\A 37: =======\A 38: @import 'views/homepage';\A 39: >>>>>>> dfb30aae5896ea4a6d9f7f5e10c4d494c9e2558f\A 40: @import 'views/contact';\A 41: @import \"views/consulting\";"; }
