/**
 * The following variable and function originate from the sass-mq library.
 * If you have already included it, you can eliminate the below
 * https://github.com/sass-mq/sass-mq/blob/master/_mq.scss
 */
.clearfix, .content {
  *zoom: 1; }
  .clearfix:before, .content:before, .clearfix:after, .content:after {
    display: table;
    content: ""; }
  .clearfix:after, .content:after {
    clear: both; }

.content {
  position: relative;
  padding: 20px; }

img.pull-left {
  margin-right: 12px; }

img.pull-right {
  margin-left: 12px; }

hr {
  border-top: 2px solid #18374b;
  margin: 30px auto; }
  hr.yellow {
    border-top: 2px solid #d3b262; }
  hr.small {
    width: 20%; }

.bg-pattern {
  background-image: url(/assets/img/bg-pattern.png); }

.bg-blue {
  background-color: #18374b; }

.bg-yellow {
  background-color: #d3b262; }

@font-face {
  font-family: 'bittercube';
  src: url("/assets/fonts/bittercube.eot?5zctft");
  src: url("/assets/fonts/bittercube.eot?5zctft#iefix") format("embedded-opentype"), url("/assets/fonts/bittercube.woff2?5zctft") format("woff2"), url("/assets/fonts/bittercube.ttf?5zctft") format("truetype"), url("/assets/fonts/bittercube.woff?5zctft") format("woff"), url("/assets/fonts/bittercube.svg?5zctft#bittercube") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bittercube' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e902"; }

.icon-pinterest:before {
  content: "\e900";
  color: #fff; }

.icon-cart:before {
  content: "\e901";
  color: #fff; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-twitter:before {
  content: "\ea96"; }

@-webkit-keyframes cardSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes cardSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.card:nth-child(1) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.card:nth-child(2) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.card:nth-child(3) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.card:nth-child(4) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.card:nth-child(5) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }
.card:nth-child(6) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }
.card:nth-child(7) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }
.card:nth-child(8) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }
.card:nth-child(9) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }
.card:nth-child(10) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }
.card:nth-child(11) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s; }
.card:nth-child(12) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }
.card:nth-child(13) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s; }
.card:nth-child(14) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }
.card:nth-child(15) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }
.card:nth-child(16) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s; }
.card:nth-child(17) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s; }
.card:nth-child(18) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }
.card:nth-child(19) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s; }
.card:nth-child(20) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Alegreya", serif;
  color: #18374b; }

section {
  position: relative;
  padding: 50px 0;
  clear: both;
  overflow: hidden; }
  section:focus {
    outline: none; }

a {
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #18374b;
  color: #18374b;
  letter-spacing: 2px; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

h1, h2 {
  margin: 1.5rem 0 1rem 0; }

h3, h4, h5 {
  margin: 1rem 0;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px; }

#page-header a {
  color: #fff;
  border-bottom: none;
  padding-left: 1rem;
  padding-right: 1rem; }
#page-header.home-header {
  background-color: transparent;
  border-bottom: none; }
#page-header.default-header {
  background-color: #18374b;
  border-bottom: 2px solid #d3b262; }
  #page-header.default-header .navbar-nav {
    margin-top: 20px; }
  #page-header.default-header .socialnav {
    position: absolute;
    top: 5px;
    right: 20px; }
    #page-header.default-header .socialnav a {
      padding: 0 3px; }
#page-header .navbar-brand {
  width: 55px;
  padding: 0; }

#page-footer {
  padding: 100px 0 50px 0;
  color: #fff; }
  #page-footer .nav {
    margin: 1rem 0; }
  #page-footer a {
    color: #fff; }
    #page-footer a.nav-link {
      padding: .1rem 0; }
  #page-footer h3 {
    margin-top: 0; }
  #page-footer .contact-details h4 {
    font-family: "proxima-nova", sans-serif;
    font-size: .9rem;
    margin-bottom: 0;
    text-transform: uppercase; }
  #page-footer .contact-details a {
    display: block;
    font-family: "Alegreya", serif;
    text-transform: none;
    margin-bottom: 1.5rem; }

.page #page-content {
  padding-top: 79px; }

canvas {
  width: 200px;
  height: 200px; }

blockquote {
  display: block;
  position: relative;
  z-index: 1;
  /*Font*/
  font-size: 23px;
  line-height: 1.2;
  color: #18374b;
  padding-left: 30px;
  padding-right: 30px; }
  blockquote em {
    z-index: 9; }
  blockquote span {
    display: block;
    margin: 20px 0 0 20px;
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px; }

blockquote::before {
  display: block;
  content: "\201C";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: "proxima-nova", sans-serif;
  font-size: 100px;
  color: #18374b;
  /*Positioning*/
  position: absolute;
  left: -20px;
  top: -30px;
  z-index: -1; }

blockquote::after {
  display: block;
  content: "\201D";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: "proxima-nova", sans-serif;
  font-size: 100px;
  color: #18374b;
  /*Positioning*/
  position: absolute;
  right: -10px;
  top: -webkit-calc(100% - 75px);
  top: calc(100% - 75px);
  z-index: -1; }

blockquote a {
  text-decoration: none;
  cursor: pointer;
  color: #18374b; }

blockquote a:hover {
  color: #222222; }

.wufoo {
  padding-top: 20px; }
  .wufoo label {
    display: none; }
  .wufoo ul {
    list-style: none;
    padding: 0; }
  .wufoo input.text {
    display: block;
    height: 45px;
    width: 100%;
    padding: 6px 20px;
    margin: 15px 0;
    font-size: 14px;
    line-height: 1.42857;
    color: #000;
    vertical-align: middle;
    background-color: #eeeeee;
    background-image: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    border: none;
    border-left: 10px solid #18374b; }
  .wufoo textarea {
    background: #eeeeee;
    padding: 20px;
    border: none;
    border-left: 10px solid #18374b;
    height: 130px;
    width: 100%; }
  .wufoo #saveForm {
    border: none;
    margin-top: 30px; }
  .wufoo ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #000;
    font-family: 'Open Sans', helvetica, arial, sans-serif; }
  .wufoo :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity: 1;
    font-family: 'Open Sans', helvetica, arial, sans-serif; }
  .wufoo ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
    opacity: 1;
    font-family: 'Open Sans', helvetica, arial, sans-serif; }
  .wufoo :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #000;
    font-family: 'Open Sans', helvetica, arial, sans-serif; }

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(24, 55, 75, 0.95);
  background-blend-mode: multiply; }
  .hero .hero-caption {
    text-align: center;
    width: 50%; }
  .hero h1, .hero h2, .hero h3, .hero h4, .hero h5, .hero h6, .hero p {
    color: #fff;
    margin-bottom: 0; }
  .hero p {
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px; }

.media {
  background: #fff; }

input, textarea {
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0; }

input[type="submit"] {
  display: inline-block;
  width: auto; }

.button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #18374b;
  color: #18374b;
  text-align: center;
  padding: .5rem 1rem;
  margin: 1rem 0;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .button:hover {
    background-color: #18374b;
    color: #fff; }
  .button.button-block {
    display: block; }
  .button.button-yellow {
    background-color: #d3b262; }
    .button.button-yellow:hover {
      background-color: transparent;
      border: 1px solid #d3b262; }

.card {
  border: none;
  border-radius: 0; }
  .card .card-img-top {
    border-radius: 0; }
  .card .card-body {
    padding: 20px 0; }
  .card .hover-overlay {
    position: relative;
    border: 1px solid #d3b262; }
    .card .hover-overlay:hover .overlay-text {
      opacity: 1;
      visibility: visible; }
    .card .hover-overlay .overlay-text {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(24, 55, 75, 0.75);
      height: 100%;
      padding: 10px;
      color: #d3b262;
      text-align: center;
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-family: "proxima-nova", sans-serif;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
  .card .card-footer {
    background-color: transparent;
    border: none;
    padding: 0; }
    .card .card-footer .button {
      font-size: .8rem;
      display: block; }

.socialnav a {
  padding: 0 3px; }

.tab-content {
  padding: 50px;
  background-color: #fff;
  border: 2px solid #18374b; }

.carousel-indicators {
  bottom: -30px; }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #a2c2cc; }
    .carousel-indicators li.active {
      background-color: #18374b; }

#search-recipes input[type="submit"] {
  color: #18374b;
  text-transform: uppercase;
  position: relative; }
  #search-recipes input[type="submit"]:before {
    content: "\e902";
    font-family: 'bittercube';
    display: block;
    position: absolute;
    left: 0;
    top: 0; }

#contact-info h4, #contact-info h5 {
  text-transform: uppercase;
  letter-spacing: 2px; }
#contact-info a, #contact-info address {
  font-family: "Alegreya", serif;
  border-bottom: none;
  text-transform: none;
  font-size: 1.8rem; }

.distributor {
  border-bottom: 1px solid #18374b;
  text-align: center; }

#search-recipes {
  background-image: url(/assets/img/recipes/bg-ingredients.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%; }
  #search-recipes input[type="text"] {
    background-color: #18374b;
    border: 2px solid #d3b262;
    text-transform: uppercase;
    color: #fff;
    margin-right: 20px;
    width: 80%;
    font-family: "proxima-nova", sans-serif; }
  #search-recipes input[type="submit"] {
    background-color: #d3b262;
    border: 2px solid #18374b;
    width: 20%;
    font-family: "proxima-nova", sans-serif; }

.recipes .card {
  background-color: transparent;
  padding: 20px; }
  .recipes .card .card-body {
    background-color: #fff;
    padding: 50px 30px; }

#contact-consulting input, #contact-consulting textarea {
  border: 2px solid #18374b;
  color: #18374b; }

@-webkit-keyframes cardSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes cardSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.card:nth-child(1) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.card:nth-child(2) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.card:nth-child(3) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.card:nth-child(4) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.card:nth-child(5) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }
.card:nth-child(6) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }
.card:nth-child(7) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }
.card:nth-child(8) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }
.card:nth-child(9) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }
.card:nth-child(10) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }
.card:nth-child(11) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s; }
.card:nth-child(12) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }
.card:nth-child(13) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s; }
.card:nth-child(14) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }
.card:nth-child(15) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }
.card:nth-child(16) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s; }
.card:nth-child(17) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s; }
.card:nth-child(18) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }
.card:nth-child(19) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s; }
.card:nth-child(20) {
  -webkit-animation-name: cardSlideIn;
  animation-name: cardSlideIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }


