.autocomplete-suggestions { 
  border: 1px solid $yellow;
  background: #FFF;
  overflow: auto;
  font-family: $font-family-sans-serif;
}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; text-transform: capitalize; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: 700; color: $yellow; }
.autocomplete-group { padding: 2px 5px; font-weight: 400; background-color: $gray-lighter; color: $gray;}
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }