// RECIPES
.recipe-title {
  width: 100%;
  font-size: 53px;
  margin-bottom: 3rem;
  text-align: center;
}

.recipe-image {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%;
  background-color: $black;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.recipe-ingredients {
  height: 100%;
  padding: 50px;
  background-color: $white;
  .ingredients-list {
    list-style-type: none;
    padding-left: 0;
    li {
      display: block;
      font-family: $font-family-sans-serif;
      line-height: 1.4;
      padding: 10px 0;
    }
  }
  .ingredient-quantity {
    display: block;
    width: 100%;
  }
  .ingredient-name {
    display: block;
    width: 100%;
  }
}
.recipe-instructions {
  padding: 50px;
  margin-top: 30px;
  font-size: 18px;
  background-color: $white;
  text-align: center;
  small {
    display: block;
    margin: 40px 0 0;
    font-size: 1rem;
    font-family: $font-family-sans-serif;
  }
  .button {
    font-size: 16px;
  }
}
.recipe-body {
  background-color: $white;
  padding: 30px;
  text-align: center;
  .recipe-title {
    font-size: 28px;
    margin-bottom: 0;
  }
}

// Index / Collection / Search results view
.recipes-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  &.recipes-featured {
    flex-direction: row-reverse;
    .recipe {
      &:first-child {
        .content {
          height: 100%;
          .recipe-body {
            height: 100%;
          }
        }
      }
    }
  }
  .recipe {
    position: relative;
    width: 100%;
    flex-basis: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: transparent;
    &:last-of-type {
      margin-right: auto;
    }
    .content {
      height: 100%;
      padding: 0;
      margin: 20px;
      background-color: $white;
    }
  }
}


// Small devices (landscape phones, 576px and up, 767px and down)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {
  .recipe-ingredients {
    .ingredients-list {
      li {
        display: flex;
      }
    }
    .ingredient-quantity {
      width: 35%;
    }
    .ingredient-name {
      width: 80%;
    }
  }
  .recipes-list {
    .recipe {
      width: 50%;
      flex-basis: 50%;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {
  .recipes-list {
    .recipe {
      // width: 33%;
      // flex-basis: 33%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
