#visit-overview {
  .content,
  .card {
    height: 100%;
  }
  .card-body {
    padding: 0 20px;
  }
}

.link-white a {
  color: #d3b262;
}

@media (max-width: $screen-md-max) {
  .col-hours {
    width: 100%;
    flex-basis: auto;
  }
}