.clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

// Spacing
.content {
  @extend .clearfix;
  padding: 20px;
  position: relative;
}

img.pull-left {
  margin-right: 12px;
}

img.pull-right {
  margin-left: 12px;
}

hr {
  border-top: 2px solid $brand-primary;
  margin: 30px auto;

  &.yellow {
    border-top: 2px solid $yellow;
  }

  &.small {
    width: 20%;
  }
}

ul.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

//typography
.serif {
  font-family: $font-family-serif;
}

.sans-serif {
  font-family: $font-family-sans-serif;
}

//color utilities
.bg-blue {
  background-color: $brand-primary;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-pattern {
  background-image: url('/assets/img/bg-pattern.png');
}

.pinterest-share {
  border-bottom: 0;
  padding: 5px 7px;
  background-color: $brand-primary;
  position: absolute;
  bottom: 0;
  right: 0;
  i {
    color: $white;
  }
}

// Media Queries
// Small devices (landscape phones, 576px and up, 767px and down)
@media (min-width: $screen-sm-min) {}

@media (max-width: $screen-sm-max) {
  .w-50 {
    width: 100% !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
