#contact-info {
  h4, h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  a, address {
    font-family: $font-family-serif;
    border-bottom: none;
    text-transform: none;
    font-size: 1.8rem;
  }
}


.distributor {
  border-bottom: 1px solid $brand-primary;
  text-align: center;
}
