#contact-info {
  h4,
  h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  a,
  address {
    border-bottom: 0;
    font-family: $font-family-serif;
    font-size: 1.8rem;
    text-transform: none;
  }
}

.distributor {
  border-bottom: 2px solid $brand-primary;
  text-align: center;
  margin-bottom: 30px;
}
