.banner-desktop {
  display: block;
}

.banner-mobile {
  display: none;
}

@media (max-width: $screen-sm-max) {
  .banner-desktop {
    display: none;
  }
  .banner-mobile {
    display: block;
  }
}