.recipe-image {
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.ingredients {
  margin-right: 8px;
  padding: 50px;
  width: 50%;

  .ingredients-list {
    list-style-type: none;
    padding-left: 0;
  
    li {
      display: flex;
      font-family: $font-family-sans-serif;
      line-height: 1.4;
      padding: 10px 0;
      .ingredient-quantity {
        width: 20%;
      }

      .ingredient-name {
        width: 80%;
      }
    }
     
  }
}

.notes {
  width: 50%;
  margin-left: 8px;
  padding: 50px;
  font-size: 26px;
}