// Color Palette
// -------------------------

$gray-darker:            #222222;
$gray-dark:              #272729;
$gray:                   #757575;
$gray-light:             #e9e9e3;
$gray-lighter:           #eeeeee;

$white:                  #ffffff;
$black:                  #000000;
$brand-primary:          #18374b;
$brand-primary-opacity-60: rgba(24, 55, 75, .6);
$text-color:             $brand-primary;
$yellow:                 #d3b262;
$blue-light:             #a2c2cc;
$blue-medium:            #0056b3;
$brand-light:            #24516b;
$body-bg:                $white;


$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%);

$font-family-sans-serif: 'proxima-nova', sans-serif;
$font-family-serif:      'Alegreya', serif;

// Media Queries
$screen-sm-min:           576px;
$screen-md-min:           768px;
$screen-lg-min:           992px;
$screen-xl-min:           1200px;

$screen-xs-max:           575px;
$screen-sm-max:           767px;
$screen-md-max:           991px;
$screen-lg-max:           1199px;
