@charset 'utf-8';

@import 'variables';
@import 'mixins';
@import 'animations';

@import 'store/products';
@import 'store/cart';


.form-group {
  .form-control {
    border: 1px solid $brand-primary;
    border-radius: 0;
  }
}

input[type="checkbox"] {
  width: auto;
}

.button {
  &.button-small {
    padding: 5px 10px;
    font-size: 11px;
  }
}

