/*
Error: Invalid CSS after "...reen-xl-min) {}": expected "}", was ""
        on line 88 of src/_assets/scss/views/_about.scss
        from line 41 of src/_assets/scss/main.scss

83: // Large devices (desktops, 992px and up)
84: @media (min-width: $screen-lg-min) {}
85: 
86: // Extra large devices (large desktops, 1200px and up)
87: @media (min-width: $screen-xl-min) {}

Backtrace:
src/_assets/scss/views/_about.scss:88
src/_assets/scss/main.scss:41
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:667:in `block'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:409:in `media_directive'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:222:in `special_directive'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:197:in `directive'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/engine.rb:312:in `to_tree'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/bin/sass:23:in `load'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/bin/sass:23:in `<main>'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/bin/ruby_executable_hooks:15:in `eval'
/Users/jonburr/.rvm/gems/ruby-2.3.1@bittercube/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...reen-xl-min) {}\": expected \"}\", was \"\"\A         on line 88 of src/_assets/scss/views/_about.scss\A         from line 41 of src/_assets/scss/main.scss\A \A 83: // Large devices (desktops, 992px and up)\A 84: @media (min-width: $screen-lg-min) {}\A 85: \A 86: // Extra large devices (large desktops, 1200px and up)\A 87: @media (min-width: $screen-xl-min) {}"; }
