.products.collection-products .card:last-of-type {
  margin-right: auto;
  margin-left: 3%;
}

@media (max-width: 767px) {
  .products.collection-products .card:last-of-type {
    margin-right: 0;
    margin-left: 0;
  }
}