#page-header {
  @include transition(.5s);
  background-color: $brand-primary;
  border-bottom: 2px solid $yellow;

  a {
    border-bottom: 0;
    color: $white;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-nav {
    margin-top: 20px;
  }

  .socialnav {
    position: absolute;
    right: 20px;
    top: 5px;

    a {
      padding: 0 3px;
    }
  }

  #mainnav {
    justify-content: flex-end;
  }

  .navbar-brand {
    padding: 0;
    width: 55px;
  }

  &.home-header {
    background-color: transparent;
    border-bottom: 0;

    #mainnav {
      justify-content: center;
    }

    .navbar-nav {
      margin-top: 0;
    }

    .navbar-brand,
    .socialnav {
      opacity: 0;
    }
  }
}



// Media Queries
// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}
