#page-header {
  a {
    color: #fff;
    border-bottom: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &.home-header {
    background-color: transparent;
    border-bottom: none;
  }
  &.default-header {
    background-color: $brand-primary;
    border-bottom: 2px solid $yellow;
    .navbar-nav {
      margin-top: 20px;
    }
    .socialnav {
      position: absolute;
      top: 5px;
      right: 20px;
      a {
        padding: 0 3px;
      }
    }
  }
  .navbar-brand {
    width: 55px;
    padding: 0;
  }
}



// Media Queries
// Small devices (landscape phones, 576px and up)
@media (min-width: $screen-sm-min) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $screen-md-min) {}

// Large devices (desktops, 992px and up)
@media (min-width: $screen-lg-min) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $screen-xl-min) {}