---
layout: page
title: About
meta:
---

<div class="hero" style="background-image: url(/assets/img/about/about-header.jpg)">
  <div class="hero-caption">
    <h1 class="editable">About Bittercube</h1>
  </div>
</div>

<section id="about-intro">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center intro">
          <p class="editable lead">Bittercube Bitters are created in Milwaukee, WI, by hand with real botanicals. No pre-made extracts or flavors are used in our slow-crafted products.</p>
          <p class="editable">The maceration process is unique to each style and batches take as long as twenty-five days to complete. The company has grown from producing one gallon jars of bitters in 2009 to 210 gallon batches now, but the process has largely stayed the same. We source botanicals as close to origin as possible and use high-quality base spirits to create densely flavored bitters.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-story" class="bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2 class="editable">Our Story</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="content">
          <p class="lead editable">Bittercube was founded by Nicholas Kosevich and Ira Koplowitz in 2009. After successful stints bartending and managing at Town Talk Diner (Nick) in Minneapolis and The Violet Hour (Ira) in Chicago, they began developing Bittercube Bitters.</p>
          <p class="editable">The first commercially available batches hit the market in July of 2010. Since then the business has grown to distribute bitters in nearly 30 states and abroad in Canada, Italy and Australia.</p>
          <p class="editable">Bittercube has been featured in Martha Stewart’s Everyday Food, Playboy, Imbibe Magazine, Timeout, Chicago Tribune, New York Times, Bloomberg BusinessWeek, GO – AirTran Inflight Magazine, Milwaukee Journal-Sentinel, NPR, and Daily Candy, among other publications.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content">
          <img src="/assets/img/about/our-story.jpg" class="img-fluid editable" alt="Nicholas Kosevich and Ira Koplowitz Image" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable">The Team</h2>
        </div>
      </div>
    </div>
    {% for category in site.data.team %}
      <h3>{{ category.title }}</h3>
      <div class="row">
        {% for member in category.staff %}
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card team-member">
              <img class="card-img-top" src="{{ member.image | prepend: site.baseurl }}" alt="{{ member.name }} Image" />
              <div class="card-body">
                <h4 class="card-title">{{ member.name }}</h4>
                <span>{{ member.role }}</span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

<section class="bg-yellow bg-pattern">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable">The Apothecary</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="editable content">
          <p>The MKE Apothecary is located in Uptown Crossing on Milwaukee&rsquo;s North side. We produce and ship all varieties of Bittercube Bitters at this location. The Apothecary is also a hub for R&amp;D and marketing efforts. The MSP Apothecary is located in the Seward neighborhood in Minneapolis and is the consulting and events hub for Bittercube.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <img src="/assets/img/about/apothecary.jpg" class="img-fluid editable" alt="Apothecary Image" />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable">Our Partners</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="partners">
            {% for partner in site.data.partners %}
              <a href="{{ partner.url }}">
                <img src="{{ partner.image }}" class="img-fluid" alt="{{ partner.title }}" />
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>