---
layout: page
title: Bar
permalink: /visit/bar
left_image: /uploads/bc-bar-menu-s3.jpg
right_image:
downloadable_menu_document: /uploads/bc-bar-menu-s3.pdf
hours:
  - label: Thurs
    times: 5PM-Midnight
  - label: Fri
    times: 5PM-1AM
  - label: Sat
    times: 5PM-1AM
---

<div class="hero" style="background-image: url({{ site.baseurl }}/assets/img/visit/bar_banner.jpg)">
  <div class="hero-caption">
    <h1 class="editable">
      Bittercube Bar
    </h1>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content text-center intro">
          <p class="editable lead">
            A unique cocktail destination in Milwaukee&rsquo;s Uptown Crossing neighborhood. Our passion for making drinks come true is showcased in every aspect of the Bittercube Bar.
          </p> 
          <p class="editable">
            The menu reflects that passion with a broad spectrum of libations - showcasing cocktails we&rsquo;ve featured in bars across the country through our consulting efforts, as well as featuring seasonal Tailor Made highballs and On the Fly Elixirs, plus a Dock18 Cocktail Lab section featuring products currently in R&amp;D.
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-3">
        <div class="content text-center">
          <p class="text-center text-uppercase mb-0">Thurs</p>
          <p>5PM-Midnight</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content text-center">
          <p class="text-center text-uppercase mb-0">Fri</p>
          <p>5PM-2AM</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content text-center">
          <p class="text-center text-uppercase mb-0">Sat</p>
          <p>11AM-2AM</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="content text-center">
          <p class="text-center text-uppercase mb-0">Sun</p>
          <p>11AM-5PM</p>
        </div>
      </div>
    </div> -->
    <div class="row justify-content-center">
      {% if page.hours.first.label != null %}
        {% for item in page.hours %}
          <div class="col col-md-auto col-hours">
            <div class="content text-center">
              <p class="text-uppercase mb-0">{{ item.label }}</p>
              <p>{{ item.times }}</p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col mx-auto">
          <div class="content text-center">
            <p class="text-uppercase mb-0">By Appointment</p>
            <p class="mb-0">email</p>
            <p><a href="mailto:visit@bittercube.com">visit@bittercube.com</a></p>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="content text-center">
          <a href="{{ page.left_image }}" class="venobox">
            <img src="{{ page.left_image }}" class="img-fluid" alt="Bittercube Bar & Bazaar Menu Image" />
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="content text-center">
          <a href="{{ page.right_image }}" class="venobox">
            <img src="{{ page.right_image }}" class="img-fluid" alt="Bittercube Bar & Bazaar Menu Image" />
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content text-center">
          <p><a class="button inline" href="{{ page.downloadable_menu_document }}" target="_blank">Download Menu</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include stop-by.html %}