---
layout: page
title: Consulting
meta:
---

<div class="hero" style="background-image: url({{ site.baseurl }}/assets/img/consulting/hero-consulting.jpg)">
  <div class="hero-caption">
    <h1 class="editable">Seven Pillars Consulting</h1>
    <p class="editable">By Bittercube</p>
  </div>
</div>

<section id="consulting">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <p class="editable lead">The goal is simple - to make drinks come true. Eight years, dozens of bars built and hundreds of bartenders trained; being a Bittercube bar program means something. It stands for quality, education, and delicious uniqueness. Bittercube&rsquo;s award winning consulting programs have garnered attention both local and national in markets across the country. Bittercube has been featured in the <em>NY Times, Wall Street Journal, Food &amp; Wine Magazine, Imbibe Magazine,</em> amongst other publications and television programs.</p>
          <p class="editable">We can activate cocktail programs of varying levels of difficulty, realized in a timely manner and designed to turn a profit. We provide Back of House office systems for: ordering, inventory, costing, formula data-basing. Our services offer seasonal updates to the cocktail menu as well as continually updating the classic cocktail menu.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content text-center">
          <img src="/assets/img/consulting/infrastructure.svg" alt="Infrastructure icon" />
          <h5 class="editable">Infrastructure</h5>
          <div class="editable">
            <p>Bittercube has a dedicated workforce of award-winning bartenders, operations management personnel and wine &amp; beer experts ready to tailor make a program that fits the needs of any type of bar or restaurant. We work with clients large and small around the country to create unique beverage programming.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content text-center">
          <img src="/assets/img/consulting/training.svg" alt="Training icon" />
          <h5 class="editable">Training Program</h5>
          <div class="editable">
            <p>Over the last eight years, Bittercube has trained over 300 bartenders and thousands of home enthusiasts. During 3-8 days of initial training, the Bittercube team will teach various cocktail techniques and ideology and remain on site to lead the bar team during crucial opening shifts. Bar staff learn to create syrups, infusions, tinctures, tonics, etc., and are trained on a tailored seasonal cocktail menu and uniquely curated spirit list.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content text-center">
          <img src="/assets/img/consulting/seven-pillars.svg" alt="Masterclass icon" />
          <h5 class="editable">Seven Pillars Masterclass</h5>
          <div class="editable">
            <p>It is almost a requirement for bartenders to be adept at crafting dealers choice libations, oftentimes during a hectic shift. Having an arsenal of solid formulas, foolproof tweaks to those formulas and the knowledge on executing those ideas under pressure appeals not only to bartenders but to managers and owners alike. Weaving together science, concrete formulas and theory is the foundation of the Bittercube Seven Pillars Master Class.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content text-center">
          <img src="/assets/img/consulting/bars.svg" alt="Bars icon" />
          <h5 class="editable">Bars &amp; Restaurants</h5>
          <div class="editable"><p>Our bar program provides the expertise and tailored treatment required to build a unique program and provide a lasting experience. Training and inspiring a bar staff and cocktail menu development are just the start. Our team will recommend equipment and tools, provide costing, inventory and POS Management and design bar spaces for efficiency. With a proven program, our team will lead your staff through intensive training that focuses on speed, efficiency, customer service and passion. Our bar program will help enhance your customer&rsquo;s experience and brand as a whole.</p></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="additional-support" class="bg-yellow bg-pattern">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable">Additional Support &amp; Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="editable content text-center"><h5>Events</h5><ul><li>Bartending services for weddings &amp; private parties</li><li>Craft Cocktail Catering</li><li>Event Coordination, management and execution</li><li>Event specific Cocktail menu development</li><li>Event-Specific Party Favors</li><li>Private Cocktail Classes for groups large &amp; small</li></ul></div>
      </div>
      <div class="col-md-4">
        <div class="editable content text-center"><h5>Brands</h5><ul><li>Brand Advocacy</li><li>Marketing &amp; Strategy</li><li>On and Off Premise demo execution</li><li>Event representation</li><li>Product brokering</li><li>Cocktail development</li><li>Photography</li></ul></div>
      </div>
      <div class="col-md-4">
        <div class="editable content text-center"><h5>Custom Products</h5><ul><li>Customized tonics, syrups, bitters blends and other bespoke products</li><li>Tailored Cocktail recipe booklets</li><li>Seasonal or event specific Cocktail kits</li></ul></div>
      </div>
    </div>
  </div>
</section>

<section id="testimonials">
  {% include carousel-testimonials.html %}
</section>

<section id="contact-consulting" class="bg-yellow">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="content text-center">
          <h2 class="editable">You’ve Got Questions? We’ve Got Answers!</h2>
          <p class="lead editable">If you&rsquo;re interested in learning more about our programs or want to open a craft cocktail focused bar, complete the form below:</p>
          
        </div>
        {% include forms/contact.html %}
      </div>
    </div>
  </div>
</section>