---
layout: page
title: Contact
---

<div class="hero" style="background-image: url(/assets/img/contact/contact-header.jpg)">
  <div class="hero-caption">
    <h1>Contact Us</h1>
  </div>
</div>

<section>
  <div class="container">
    <div id="contact-info" class="row">
      <div class="col">
        <div class="content text-center">
          <h5 class="editable">General Inquiries</h5>
          <a href="mailto:info@bittercube.com" class="editable">info@bittercube.com</a>
          <hr class="small" />
          <h5 class="editable" href="mailto:info@bittercube.com">Online Sales &amp; Wholesale Inquiries</h5>
          <a href="mailto:orders@bittercube.com" class="editable">orders@bittercube.com</a>
          <hr class="small" />
          <h5 class="editable" href="mailto:orders@bittercube.com">Consulting Team</h5>
          <a href="mailto:consulting@bittercube.com" class="editable">consulting@bittercube.com</a>
          <hr class="small" />
          <h5 class="editable" href="mailto:consulting@bittercube.com">Headquarters</h5>
          <address class="editable" href="mailto:consulting@bittercube.com">
            4828 W Lisbon Ave<br />Milwaukee WI 53210
          </address>
          <a href="tel:414-3674477" class="editable phone">414.367.4477</a>
          <hr class="yellow mt-5" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable" href="tel:414-3674477">Find Us</h2>
          <script src="https://s3-us-west-2.amazonaws.com/nearestyou-static/cartographer/embed.js"></script>
          <script
            type="text/javascript">window.crtgrphr_url_base = "https://ny-atlas.herokuapp.com/api/v1/companies/bittercube/crtgrphr_standard";</script>
          <div id="crtgrphr-embed-target"></div>
          <hr class="yellow mt-5" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable" href="tel:414-3674477">Distributors</h2>
        </div>
      </div>
    </div>
   
    {% for object in site.data.distributors.countries %}
      <div class="row">
        <div class="col">
          <div class="content text-center">
            <h3 class="bordered">{{ object.country }}</h3>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="content">
            <div class="distributors">
              {% for obj in object.regions %}
                  <div class="distributor">
                  <h4>{{ obj.region }}</h4>
                  {% for d in obj.distributors %}
                  <p><a href="{{ d.link }}">{{ d.distributor }}</a></p>
                  {% endfor %}
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>