---
layout: default
title: Events
permalink: /visit/events
---

<div class="hero" style="background-image: url({{ site.baseurl }}/assets/img/visit/events_banner.jpg)">
  <div class="hero-caption">
    <h1 class="editable">Bittercube Events</h1>
  </div>
</div>
<section class="bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a href="" class="nav-link"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      {% for event in site.events %}
        <div class="col-lg-6">
          <div class="content">
            <div class="card event-card text-center">
              <div class="bg-image aspect-16x9" style="background-image: url({{ event.image }})"></div>
              <div class="card-body">
                <p class="event-type">{{ event.event_tags }}</p>
                <div class="event-details">
                  <p>{{ event.date }}</p>
                  {% if event.price %}
                    <p>{{ event.price }}</p>
                  {% endif %}
                  {% if event.location %}
                    <p>{{ event.location }}</p>
                  {% endif %}
                </div>
                <h2 class="card-title text-center">{{ event.title }}</h2>

                <div class="editable">
                  <p>{{ event.event_description }}</p>
                </div>
              </div>
              <div class="card-footer">
                {% if event.reservation_link %}
                <a href="{{ event.reservation_link }}">RSVP at Eventbrite</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- <section class="d-none hide">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>EventBrite Widgets</h1>
        <hr>
      </div>
      <div class="col-4">
        <h3>Calendar Widget</h3>
        <iframe  src="https://www.eventbrite.com/calendar-widget?eid=50884201015" frameborder="0" height="526"></iframe>
      </div>
      <div class="col-4">
        <h3>Countdown Widget</h3>
        <iframe  src="https://www.eventbrite.com/countdown-widget?eid=50884201015" frameborder="0" height="526"></iframe>
      </div>
      <div class="col-4">
        <h3>Registration Widget</h3>
        <div id="eventbrite-widget-container-50884201015"></div>

        <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

        <script type="text/javascript">
            var exampleCallback = function() {
                console.log('Order complete!');
            };

            window.EBWidgets.createWidget({
                // Required
                widgetType: 'checkout',
                eventId: '50884201015',
                iframeContainerId: 'eventbrite-widget-container-50884201015',

                // Optional
                iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
                onOrderComplete: exampleCallback  // Method called when an order has successfully completed
            });
        </script>
      </div>
    </div>
  </div>
</section> -->