---
layout: default
title: Events
permalink: /visit/events
---

<div class="hero" style="background-image: url({{ site.baseurl }}/assets/img/visit/events_banner.jpg)">
  <div class="hero-caption">
    <h1 class="editable">Bittercube Events</h1>
  </div>
</div>
<section class="bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content d-none d-lg-block">
          <ul class="nav events-nav justify-content-between">
            <li class="nav-item">
              <a class="nav-link" data-filter="all">All Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter=".bar-class">Bar Classes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter=".workshop">Workshops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter=".tasting">Tastings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter=".pop-up">Pop Up Events</a>
            </li>
          </ul>
        </div>
        <div class="content d-block d-lg-none">
          <div class="select event-select">
            <select name="event-filter-select" id="event-filter-select">
              <option value="all">All</option>
              <option value=".bar-class">Bar Classes</option>
              <option value=".workshop">Workshops</option>
              <option value=".tasting">Tastings</option>
              <option value=".pop-up">Pop Up Events</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row events-row">
      {% for object in site.data.event_order.events %}
        {% assign event = site.events | where: "slug", object | first %}
        <div class="col-lg-6 mix {{ event.event_type }}">
          <div class="content h-100">
            <div class="card event-card h-100">
              <div class="bg-image aspect-16x9" style="background-image: url({{ event.image }})"></div>
              <div class="card-body">
                <p class="event-type mb-0 sans-serif text-uppercase text-center font-weight-bold">{{ event.event_type }}</p>
                <h2 class="card-title text-center text-dark mt-0">{{ event.title }}</h2>
                <div class="event-details sans-serif font-weight-bold">
                  <p class="mb-0">{{ event.event_date_ }}</p>
                  {% if event.price %}
                    <p class="mb-0">Price: {{ event.price }}</p>
                  {% endif %}
                  {% if event.location %}
                    <p class="mb-0">Location: {{ event.location }}</p>
                  {% endif %}
                </div>
                <p class="mt-3">{{ event.description }}</p>
              </div>
              <div class="card-footer text-center">
                {% if event.reservation_link %}
                <a href="{{ event.reservation_link }}" class="button inline">RSVP at Eventbrite</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="col-12 no-events">
        <div class="d-flex text-center align-items-center justify-content-center p-5">
          <p class="mb-0">Nothing currently scheduled but check back often as we're always adding new events</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="d-none hide">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>EventBrite Widgets</h1>
        <hr>
      </div>
      <div class="col-4">
        <h3>Calendar Widget</h3>
        <iframe  src="https://www.eventbrite.com/calendar-widget?eid=50884201015" frameborder="0" height="526"></iframe>
      </div>
      <div class="col-4">
        <h3>Countdown Widget</h3>
        <iframe  src="https://www.eventbrite.com/countdown-widget?eid=50884201015" frameborder="0" height="526"></iframe>
      </div>
      <div class="col-4">
        <h3>Registration Widget</h3>
        <div id="eventbrite-widget-container-50884201015"></div>

        <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

        <script type="text/javascript">
            var exampleCallback = function() {
                console.log('Order complete!');
            };

            window.EBWidgets.createWidget({
                // Required
                widgetType: 'checkout',
                eventId: '50884201015',
                iframeContainerId: 'eventbrite-widget-container-50884201015',

                // Optional
                iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
                onOrderComplete: exampleCallback  // Method called when an order has successfully completed
            });
        </script>
      </div>
    </div>
  </div>
</section> -->