---
layout: page
title: Find Us
---

<div class="hero" style="background-image: url(/assets/img/contact/contact-header.jpg)">
  <div class="hero-caption">
    <h1>Find Us</h1>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable" href="tel:414-3674477">Find Us</h2>
          <script src="https://s3-us-west-2.amazonaws.com/nearestyou-static/cartographer/embed.js"></script>
          <script
            type="text/javascript">window.crtgrphr_url_base = "https://ny-atlas.herokuapp.com/api/v1/companies/bittercube/crtgrphr_standard";</script>
          <div id="crtgrphr-embed-target"></div>
          <p>We are continually updating the map with more locations and areas.<br/>If no locations populate in your area, <a href="mailto:info@bittercube.com">send us an
          email</a> - we may be able to point you in the right direction.</p>
          <hr class="yellow mt-5" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable" href="tel:414-3674477">Distributors</h2>
        </div>
      </div>
    </div>
   
    {% for object in site.data.distributors.countries %}
      <div class="row">
        <div class="col">
          <div class="content text-center">
            <h3 class="bordered">{{ object.country }}</h3>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="content">
            <div class="distributors">
              {% for obj in object.regions %}
                  <div class="distributor">
                  <h4>{{ obj.region }}</h4>
                  {% for d in obj.distributors %}
                  <p><a href="{{ d.link }}">{{ d.distributor }}</a></p>
                  {% endfor %}
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>