---
layout: homepage
title: Bittercube
recipe: scarlet-manhattan
meta:
  - description: >-
      Bittercube Slow Crafted Cocktail Bitters - Cherry Bark Vanilla, Jamaican
      No 1 (Ginger) & No 2 (Grapefruit), Blackstrap, Bolivar, Chipotle Cacao,
      Root Beer, Trinity & Orange Bitters
  - description: >-
      Bittercube slow crafts nine varieties of artisanal bitters in a weeks-long
      process. We have Cherry Bitters, Ginger, Jamaican, Blackstrap, Bolivar,
      Vanilla, Grapefruit, Trinity & Orange flavor Bitters. We use high-quality
      base spirits to create densely flavored bitters.
---

<div class="hero" style="background-image: url(/assets/img/home/hero-home.jpg)">
  <div class="hero-caption">
    <img src="/assets/img/home/logo-wordmark.svg" alt="Bittercube Slow Crafter Bitters" />
  </div>
</div>

<img class="banner-desktop img-fluid" src="/assets/img/real-botanicals.jpg" alt="Real Botanicals. No Extracts. Milwaukee, WIS" />
<img class="banner-mobile img-fluid" src="/assets/img/real-botanicals-mobile.jpg" alt="Real Botanicals. No Extracts. Milwaukee, WIS." />

<section>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-xs-12 col-md-8">
        <div class="content text-center intro">
            <h1 class="editable">
              Bittercube Bitters
            </h1>   
          <p class="editable lead">
            Bittercube slow crafts nine varieties of artisanal bitters in a weeks-long process. We are active in every stage of bitters creation, from conception to bottling. This allows us to ensure the quality of each bottle. The varietals burst of nuance and diverse sensory tones, each the result of a distinctive process.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="card w-50 p-3 text-center">
        <img class="card-img-top img-fluid editable" src="/assets/img/visit/bar.jpg" alt="Card image cap" />
        <div class="card-body">
          <h2 class=" editable card-title">
            The Bar
          </h2>
          <div class="editable">
            <p>A tasting room for Bittercube Bitters and a unique craft cocktail destination in Milwaukee. Stop by our industrious space to enjoy cocktails, classes, events and tours.</p>
          </div>
        </div>
        <div class="card-footer">
          <a href="/visit/bar" class="button inline editable">Learn More</a>
        </div>
      </div> -->
      <div class="card w-50 p-3 text-center">
        <img class="card-img-top img-fluid editable" src="/assets/img/visit/bazaar.jpg" alt="Bittercube Bazaar" />
        <div class="card-body text-center">
          <h2 class="editable card-title" href="/visit/bar">
            The Bazaar
          </h2>
          <div class="editable">
            <p>An eclectic storefront with knowledgeable staff. We offer a curation of familiar and uncommon spirits and liqueurs, in tandem with vintage glassware, books, craft bar tools plus an assortment of our cocktail bitters.</p>
          </div>
        </div>
        <div class="card-footer">
             <a href="/visit" class="button inline editable">Learn More</a>
        </div>
      </div>
      <div class="card w-50 p-3 text-center">
        <img class="card-img-top img-fluid editable" src="/assets/img/home/bitters-collection.jpg" alt="Card image cap" />
        <div class="card-body">
          <h2 class=" editable card-title">
            The Bitters Collection
          </h2>
          <div class="editable">
            <p>Visit our online shop to learn more about the individual varieties of Bittercube Bitters, see relevant cocktail recipes and to purchase our products.</p>
          </div>
        </div>
        <div class="card-footer">
          <a href="https://store.bittercube.com" class="button inline editable">Shop</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="home-products" class="bg-blue">
  <div class="container-large">
    <div class="row no-gutters border border-black">
      {% for product in site.data.products %}
        <div class="col-md-6 col-lg-4 border border-black home-product">
          <a href="{{ site.shop_url}}{{product.shop_url }}" class="text-white p-5 d-block h-100">
            <img src="{{ product.image }}" class="img-fluid" alt="{{ product.name }} image" />
            <h4>{{ product.name }}</h4>
            <hr class="border-top {{ product.handle }}" />
            <p class="mb-0">{{ product.description }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="featured-recipe" class="bg-yellow bg-pattern">
  {% for object in page.recipe %}
    {% assign featured = site.recipes | where: "slug", object | first %}
  {% endfor %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="media align-items-center">
            <img src="{{ featured.image }}" class="img-fluid w-50" alt="{{ featured.title }} image" />
            <div class="media-body w-50 p-4">
              <h2 class="mt-0">{{ featured.title }}</h2>
              <p>{{ featured.description }}</p>
              <a href="/recipes/scarlet-manhattan/" class="button inline editable">View Recipe</a>
            </div>
          </div>
        </div>
        <div class="py-5 text-center">
          <a href="/recipes" class="button inline editable">Discover More Recipes</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="instagram-feed" class="hero" style="background-image: url(/assets/img/home/hero-instagram.jpg)">
  <div class="hero-caption">
    <a href="https://www.instagram.com/bittercube" target="_blank" class="button inline editable">Follow us on instagram</a>
  </div>
</div>
