---
layout: page
title: Recipes

permalink: /recipes/

---

{% include recipe-search.html %}

<section>
  <div data-ref="container" class="container"></div>
</section>


<section id="recipes" class="bg-yellow">
  <div class="container">
    <div class="row recipes">
      <div class="card w-50">
        <div class="card-body text-center">
          <h2 class="editable">Featured Recipes</h2>
          <p class="editable">Our short list of must-trys for the season.</p>
          <ul class="nav flex-column">
            {% for recipe in site.recipes %}
              {% if recipe.featured %}
              <li class="nav-item"><a href="{{ recipe.url }}" class="nav-link" title="{{ recipe.title }}">{{ recipe.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% for recipe in site.recipes %}
      <div class="card w-50">
        <div class="card-img-wrapper" style="background-image: url({{ recipe.image }});">
          <a href="https://pinterest.com/pin/create/button/?url={{ site.url | xml_escape }}{{ recipe.url | xml_escape }}&media={{ site.url | xml_escape }}{{ recipe.image | xml_escape }}&description={{ recipe.title | xml_escape }}"target="_blank" data-pin-do="buttonPin" data-pin-custom="true" class="pinterest-share"><i class="icon-pinterest"></i></a>
        </div>
        <div class="card-body text-center">
          <h2 class="card-title">{{ recipe.title }}</h2>
          <p>{{ recipe.description }}</p>
          <a href="{{ recipe.url }}" class="button inline">View Recipe</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="dealers-choice">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable">Dealer's Choice</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="card-grid">
            {% for category in site.data.drink_categories %}
            <div class="card">
              <a href="/recipes#term={{ category.title }}">
                {% if category.image %}
                  <img class="img-fluid" src="{{ category.image }}" alt="{{ category.title }}">
                {% else %}
                  <img class="img-fluid" src="http://via.placeholder.com/550x550/000000/333333?text=placeholder" alt="{{ category.title }}">
                {% endif %}
              </a>
              <div class="card-body text-center">
                <p class="lead">{{ category.title }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cocktail-basics" class="bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable">Cocktail Basics</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <ul class="nav tabnav" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#making-syrup" role="tab" aria-controls="syrup" aria-expanded="true">Making 1:1 Syrup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#shaking-stirring" role="tab" aria-controls="shaking-stirring">Shaking &amp; Stirring</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#dropper-dash" role="tab" aria-controls="shaking-stirring">Dropper vs. Dash</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#experimentation" role="tab" aria-controls="experimentation">Experimentation</a>
            </li>
          </ul>
          <!-- TODO - Speak with client to understand what the content is for this section and how we can help make it editable? -->
          <div class="tab-content">
            <div class="tab-pane fade show active text-center" id="making-syrup" role="tabpanel">
              <p><em>Our recipes use 1:1 (one-to-one) syrups, meaning equal parts sugar and water by weight. The easiest of these is Simple Syrup.</em></p>
              <p class="lead">Combine equal parts of granulated sugar and boiling water removed from heat.<br>
              Stir until dissolved, let cool before using.<br>
              Keep covered and refrigerated for up to 2 weeks.</p>
              <p><small>Be creative! Use botanical tea instead of plain water to create a flavored syrup. For a more robust syrup, try turbinado sugar.</small></p>
              <a href="/recipes#terms=syrup" class="button inline editable">More Syrup Recipes</a>
            </div>
            <div class="tab-pane fade" id="shaking-stirring" role="tabpanel">
              <div class="editable">Shaking &amp; Stirring Content</div>
            </div>
            <div class="tab-pane fade" id="dropper-dash" role="tabpanel">
              <div class="editable">Dropper vs. Dash Content</div>
            </div>
            <div class="tab-pane fade" id="experimentation" role="tabpanel">
              <div class="editable">Experimentation Content</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="featured-bartender">
  {% assign bartender = site.bartenders | where: "featured", "true" | first %}
  {% for object in bartender.featured_recipe %}
    {% assign recipe = site.recipes | where: "slug", object  | first %}
  {% endfor %}
  <div class="container">
    <div class="row">
      <div class="col-md-7 order-sm-2">
        <div class="content">
          <h2 class="mt-0">Visiting Bartender: {{ bartender.name }}</h2>
          <p class="sans-serif text-uppercase">Working at:</p>
          <p class="lead">{{ bartender.employer }}</p>
          <p class="sans-serif text-uppercase">Cocktail:</p>
          <p class="lead">{{ recipe.title }}</p>
          <p><small>{{ bartender.summary }}</small></p>
          <a href="{{ recipe.url }}" class="button inline">See {{ bartender.first_name }}'s Recipe</a>
        </div>
      </div>
      <div class="col-md-5 order-sm-1">
        <div class="content">
          <a href="{{ bartender.url }}" title="See {{ bartneder.first_name }}'s full profile">
            {% if bartender.image %}
              <img class="img-fluid" src="{{ bartender.image }}" alt="{{ bartender.name }}">
            {% else %}
              <img class="img-fluid" src="http://via.placeholder.com/550x550/000000/333333?text=placeholder" alt="{{ category.title }}">
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>