---
layout: page
title: Recipes

permalink: /recipes/

---

{% include recipe-search.html %}

<section class="bg-yellow">
  <div class="container">
    <div class="row recipes-list" data-ref="container"></div>
  </div>
</section>
<!-- 
<div class="card w-50">
  <div class="card-body text-center">
    <h2 class="editable">Featured Recipes</h2>
    <p class="editable">Our short list of must-trys for the season.</p>
    <ul class="nav flex-column">
      {% for recipe in site.recipes %}
        {% if recipe.featured %}
        <li class="nav-item"><a href="{{ recipe.url }}" class="nav-link" title="{{ recipe.title }}">{{ recipe.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
-->
<section id="recipes" class="bg-yellow">
  <div class="container">
    <div class="row recipes-list">
      {% for recipe in site.recipes %}
        {% include recipe.html %}
      {% endfor %}
    </div>
  </div>
</section>

<section id="dealers-choice">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable">Dealer's Choice</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="card-grid">
            {% for category in site.data.drink_categories %}
            <div class="card">
              <a href="/recipes#term={{ category.title }}">
                {% if category.image %}
                  <img class="img-fluid" src="{{ category.image }}" alt="{{ category.title }}">
                {% else %}
                  <img class="img-fluid" src="http://via.placeholder.com/550x550/000000/333333?text=placeholder" alt="{{ category.title }}">
                {% endif %}
              </a>
              <div class="card-body text-center">
                <p class="lead">{{ category.title }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cocktail-basics" class="bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="editable">Cocktail Basics</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <ul class="nav tabnav" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#making-syrup" role="tab" aria-controls="syrup" aria-expanded="true">Making 1:1 Syrup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#shaking-stirring" role="tab" aria-controls="shaking-stirring">Shaking &amp; Stirring</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#dropper-dash" role="tab" aria-controls="shaking-stirring">Dropper vs. Dash</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#experimentation" role="tab" aria-controls="experimentation">Experimentation</a>
            </li>
          </ul>
          <!-- TODO - Speak with client to understand what the content is for this section and how we can help make it editable? -->
          <div class="tab-content">
            <div class="tab-pane fade show active text-center" id="making-syrup" role="tabpanel">
              <p><em>Our recipes use 1:1 (one-to-one) syrups, meaning equal parts sugar and water by weight. The easiest of these is Simple Syrup.</em></p>
              <p class="lead">Combine equal parts of granulated sugar and boiling water removed from heat.<br>
              Stir until dissolved, let cool before using.<br>
              Keep covered and refrigerated for up to 2 weeks.</p>
              <p><small>Be creative! Use botanical tea instead of plain water to create a flavored syrup. For a more robust syrup, try turbinado sugar.</small></p>
              <a href="/recipes#terms=syrup" class="button inline editable">More Syrup Recipes</a>
            </div>
            <div class="tab-pane fade" id="shaking-stirring" role="tabpanel">
              <div class="editable text-center">
                <p><em>Shaking and stirring each have particular effects on a cocktail. Some basics of these techniques:</em></p>
                <h5>Shaking</h5>
                <p >Aims to chill, aerate, and add water to a cocktail. The ingredients to be shaken are combined (almost always with ice) in your preferred cocktail shaker. The shake should be firm and energetic, and the ice should strike each end of the tin as the shaker moves back and forth. "Double strain" with a hawthorne strainer and a tea strainer after shaking to catch tiny ice chips.</p>
                <h5>Stirring</h5>
                <p>Is used to amalgamate, chill, and add water to a cocktail <em>without</em> aeration. This is done in a stirring vessel with a bar spoon. Proper stirring technique is difficult to master, but don’t be afraid to try. The aim is to smoothly spin the ingredients—without causing air bubbles—until proper dilution and temperature are achieved. Strain with a julep strainer, but if you don’t have one a hawthorne can be substituted.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="dropper-dash" role="tabpanel">
              <div class="editable text-center">
                <p><em>In general, both a dash (from Bittercube 5 oz bottles) or dropper (from Bittercube 1 oz bottles) are equivalent to slightly less than one ml of bitters. However, follow the instructions below for an accurate measurement.</em></p>
                <h5>Dispensing bitters from a 1 oz bottle</h5>
                <p>Squeeze the bulb of the dropper twice, filling it to about three-quarters of its capacity. The bitters should not enter the bulb. Release the bitters by squeezing the bulb repeatedly until the dropper is empty.</p>
                <h5>Dispensing bitters from a 5 oz bottle</h5>
                <p>Holding the neck of the bottle and using one fluid movement, swing the bottle until upside down. With a downward thrust, expel a dash of bitters from the bottle.</p>
                <a href="/dropper-vs-dash" class="button inline">Read More</a>
              </div>
            </div>
            <div class="tab-pane fade" id="experimentation" role="tabpanel">
              <div class="editable text-center">
                <p><em>Experimentation Is Key</em></p>
                <p>Try the classics, but don’t be afraid to experiment. Train your palate to recognize a well-balanced cocktail. Swap lemon and line, spirits, syrups, and-or bitters to create many cocktail variations.</p>
                <h5>Beyond Cocktails</h5>
                <p>Bitters are concentrated complex flavors, and their use isn’t limited to cocktails. Use Orange Bitters in a wheat beer; try Cherry Bark Vanilla as a replacement for vanilla extract; put Jamaica No. 2 in a vinaigrette; add Jamaica No. 1 to gingerbread. The possibilities are endless!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="featured-bartender">
  {% assign bartender = site.bartenders | where: "featured", "true" | first %}
  {% for object in bartender.featured_recipe %}
    {% assign recipe = site.recipes | where: "slug", object  | first %}
  {% endfor %}
  <div class="container">
    <div class="row">
      <div class="col-md-7 order-sm-2">
        <div class="content">
          <h2 class="mt-0">Visiting Bartender: {{ bartender.name }}</h2>
          <p class="sans-serif text-uppercase">Working at:</p>
          <p class="lead">{{ bartender.employer }}</p>
          <p class="sans-serif text-uppercase">Cocktail:</p>
          <p class="lead">{{ recipe.title }}</p>
          <p><small>{{ bartender.summary }}</small></p>
          <a href="{{ recipe.url }}" class="button inline">See {{ bartender.first_name }}'s Recipe</a>
        </div>
      </div>
      <div class="col-md-5 order-sm-1">
        <div class="content">
          <a href="{{ bartender.url }}" title="See {{ bartneder.first_name }}'s full profile">
            {% if bartender.image %}
              <img class="img-fluid" src="{{ bartender.image }}" alt="{{ bartender.name }}">
            {% else %}
              <img class="img-fluid" src="http://via.placeholder.com/550x550/000000/333333?text=placeholder" alt="{{ category.title }}">
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>