---
layout: page
title: Shop

permalink: /shop
---

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h1 class="editable">The Bitters Collection</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="products">
            {% for item in (1..8) %}
            <div class="card">
              <div class="hover-overlay">
                <img class="card-img-top" src="https://unsplash.it/300/300/?random" alt="Card image cap">
                <p class="overlay-text">Caremelized Orange Coriander Cardamom</p>
              </div>
              <div class="card-body">
                <h4 class="card-title">Bitters Name</h4>
                <span class="price">$55</span>
              </div>
              <div class="card-footer">
                <a href="/product" class="button">View Product</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h1 class="editable">Need Wholesale Pricing?</h1>
          <p class="editable lead">Get in touch with our wholesale team to discuss pricing.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          {% include form-contact.html %}
        </div>
      </div>
    </div>
  </div>
</section>