---
layout: page
title: Syrup Recipes

permalink: /recipes/syrup/

---
<section class="bg-yellow">
  <div class="container">
    {% for recipe in site.syrup_recipes %}
      <div class="row">
        <div class="col">
          <h1 class="recipe-title">{{ recipe.title }}</h1>
        </div>
      </div>
      <div id="{{ recipe.title | slugify }}" class="row">
        <div class="col-sm">
          <div class="recipe-ingredients">
            <h5>Ingredients</h5>
            <ul class="ingredients-list">
              {% for ingredient in recipe.ingredients %}
              <li>
                <span class="ingredient-quantity">{{ ingredient.quantity }}</span>
                <span class="ingredient-name">{{ ingredient.name }}</span>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-sm">
          <div class="recipe-instructions">
           <h5>Instructions</h5>
           {{ recipe.instructions_html }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>