---
layout: page
title: Take a Tour
permalink: /visit/take-a-tour/
hours:
  - label: Next Tour
    times: 'January 25, 2020 4:00PM'
  - label: Upcoming 4 PM Saturday Tours
    times: 'January 25, 2020, February 8 & 22'
  - label: BY APPOINTMENT
    times: visit@bittercube.com or 414-367-4477
gallery_images:
  - image: /uploads/dsc02386.JPG
  - image: /uploads/dsc02436.JPG
  - image: /uploads/dsc02448.JPG
  - image: /uploads/dsc02443.JPG
  - image: /uploads/p1010604.JPG
  - image: /uploads/p1010687.JPG
  - image: /uploads/tour2.jpg
  - image: /uploads/tour3.jpg
  - image: /uploads/touralbum1.jpg
meta:
---

<div class="hero" style="background-image: url({{ site.baseurl }}/assets/img/visit/Tour_banner.jpg)">
  <div class="hero-caption">
    <h1 class="editable">
      Take a Tour
    </h1>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content text-center intro">
          <p class="editable lead">
            Join us for a 45 minute tour through our entire facility.
          </p> 
          <p class="editable">
            Featuring a walk through of the Bazaar, a behind the scenes look into the R&amp;D lab, and culminating in the production facility where we will navigate the entire bitters-making process from raw botanicals to bottling. Tours finish in the Bittercube Bazaar with a cocktail and bitters demonstration.<br /><a target="_blank" href="https://www.exploretock.com/bittercube">Click here to buy tickets in advance.</a> Or stop by and purchase in the Bazaar.
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="content text-center">
          <p class="text-uppercase mb-0">By Appointment</p>
          <p class="mb-0">email</p>
          <p><a href="mailto:visit@bittercube.com">visit@bittercube.com</a></p>
        </div>
      </div>
    </div> -->
    <div class="row justify-content-center">
      {% if page.hours.first.label != null %}
      {% for item in page.hours %}
      <div class="col col-md-auto col-hours">
        <div class="content text-center">
          <p class="text-uppercase mb-0">{{ item.label }}</p>
          <p>{{ item.times }}</p>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="col mx-auto">
        <div class="content text-center">
          <p class="text-uppercase mb-0">By Appointment</p>
          <p class="mb-0">email</p>
          <p><a href="mailto:visit@bittercube.com">visit@bittercube.com</a></p>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      {% for image in page.gallery_images %}
      <div class="col-md-3">
        <div class="content">
          <a href="{{ image.image }}" class="venobox bg-image aspect-1x1" style="background-image: url({{ image.image }})" data-gall="gallery">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-yellow bg-pattern">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content d-none d-lg-block">
          <ul class="nav events-nav justify-content-between">
            <li class="nav-item">
              <a class="nav-link" data-filter="all">All Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter=".bar-class">Bar Classes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter=".toup">Tour</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter=".tasting">Tastings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter=".pop-up">Pop Up Events</a>
            </li>
          </ul>
        </div>
        <div class="content d-block d-lg-none">
          <div class="select event-select">
            <select name="event-filter-select" id="event-filter-select">
              <option value="all">All</option>
              <option value=".bar-class">Bar Classes</option>
              <option value=".workshop">Workshops</option>
              <option value=".tasting">Tastings</option>
              <option value=".pop-up">Pop Up Events</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row events-row">
      {% for object in site.data.event_order.events %}
      {% assign event = site.events | where: "slug", object | first %}
      <div class="col-lg-6 mix {{ event.event_type }}">
        <div class="content h-100">
          <div class="card event-card h-100">
            <div class="bg-image aspect-16x9" style="background-image: url({{ event.image | default: '/assets/img/placeholder.png' }})"></div>
            <div class="card-body">
              <p class="event-type mb-0 sans-serif text-uppercase text-center font-weight-bold">{{ event.event_type }}
              </p>
              <h2 class="card-title text-center mt-0">{{ event.event_name }}</h2>
              <div class="event-details sans-serif font-weight-bold my-4">
                <p class="mb-0">{{ event.event_date_ }}</p>
                {% if event.price %}
                <p class="mb-0">Price: {{ event.price }}</p>
                {% endif %}
                {% if event.location %}
                <p class="mb-0">Location: {{ event.location }}</p>
                {% endif %}
              </div>
              <p class="mt-3 event-description">{{ event.description }}</p>
              {% if event.facebook_event_link %}
              <p><a href="{{ event.facebook_event_link }}" target="_blank"><i class="icon-facebook"></i></a></p>
              {% endif %}
            </div>
            <div class="card-footer text-center">

              {% if event.reservation_link %}
              <a href="{{ event.reservation_link }}" class="button inline" target="_blank">RSVP Here</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-12 no-events">
        <div class="d-flex text-center align-items-center justify-content-center p-5">
          <p class="my-lg-5">Nothing currently scheduled but check back often as we're always adding new events</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include stop-by.html %}