<footer id="page-footer" class="bg-blue bg-pattern">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="content">
          <img src="{{'/assets/img/wordmark.svg' | prepend: settings.baseurl }}" class="img-fluid" alt="Bittercube logo">
          <ul class="nav flex-column">
            {% include 'mainnav' %}
          </ul>
          {% include 'socialnav' %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <h2 class="mt-0">Sign Up For Our Newsletter</h2>
          {% include 'mailchimp' %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-details content">
          <h2 class="mt-0">Contact</h2>
          <h4>General Inquiries</h4>
          <a href="mailto:info@bittercube.com">info@bittercube.com</a>
          <h4>Apothecary Phone</h4>
          <a href="tel:414-367-4477">414.367.4477</a>
          <h4>Apothecary Address</h4>
          <address>2018 S. 1st St<br>Unit 290<br>
          Milwaukee WI, 53207</address>
        </div>
      </div>
    </div>
  </div>
</footer>