<header id="page-header" class="fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="{{ settings.baseurl }}/"><img src="{{ '/assets/img/logo.svg' | prepend: settings.baseurl }}" alt="Bittercube Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="bar close-one"></span>
        <span class="bar close-two"></span>
        <span class="bar close-three"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainnav">
        <ul class="nav navbar-nav">
          {% include 'mainnav' %}
        </ul>
        {% include 'socialnav' %}
      </div>
    </nav>
  </div>
</header>