<li class="nav-item">
  <a class="nav-link" href="/">Shop</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ '/consulting' | prepend: settings.baseurl }}">Consulting</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ '/recipes' | prepend: settings.baseurl }}">Recipes</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ '/about' | prepend: settings.baseurl }}">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ '/contact' | prepend: settings.baseurl }}">Contact</a>
</li>