<span class="price">
  {% if product.price_max > product.price %}
  {{ product.price_min | money_without_trailing_zeros }} - {{ product.price_max | money_without_trailing_zeros }}
  {% else %}
  {{ product.price | money_without_trailing_zeros }}
  {% endif %}
</span>
